[2018-06-20 13:55] bmeck commented on #126
@benjamingr I think that slide deck is not easily fit into the current meeting where we are still discussing transparent interop and what it means (ESM importing CJS, CJS requiring ESM, or bi-directional). That topic will be a rather large one on our agenda and the deck I have takes a good 30minutes to run through.

[2018-06-20 15:03] Janpot commented on #135
You _could_ also decide to allow only one loader in node and write loaders in userland that can compose multiple loaders together.

[2018-06-20 15:19] bmeck commented on #135
@Janpot the problem with doing that is how composition works. If I have only a single loader how do I add to it. Imagine:

[code]

And now I want to run my application with code coverage:

[code]

Use cases where you need loaders to coordinate are easy enough to show that we can't just have a single uncomposable loader. We could defer the composition to userland but that comes at the cost of not s

[2018-06-20 15:36] Janpot commented on #135
Maybe you add the `multiloader` and push `jspm` deeper?

[code]

But I see your point.

[2018-06-20 16:07] ljharb commented on #136
Hardcoding node_modules is indeed unfeaaible because it tightly couples the structure of the files on disk to the code, bypassing the resolve algorithm. The package name maps proposal should be sufficient to allow existing usage of bare specifiers to continue unmodified.

[2018-06-20 16:09] bmeck commented on #135
@Janpot possible, but that just devolves into everyone needing to use `multiloader` at which point we should just ship as minimally invasive form as is possible so that people could implement their own `multiloader` as part of the loader chain.

[2018-06-20 16:15] Janpot commented on #135
Yes, I agree. I just remember seeing someone making a comment that they wanted to do in core only what can't be done performantly in userland.

[2018-06-20 18:59] ljharb commented on #126
Could we get a meeting link?

[2018-06-20 19:00] mhdawson commented on #126
I think the same one should be good from last last time.  Looking for it.

[2018-06-20 19:01] mhdawson commented on #126
https://zoom.us/j/656987750

[2018-06-20 19:02] Fishrock123 commented on #127
I think this feature would be dangerous to implement.

If people would like to hot-load code from a network we should not make it easy for them. Node.js is too un-sandboxed to make this a viable default or built-in option.

[2018-06-20 19:07] demurgos commented on #126
Youtube link: https://www.youtube.com/watch?v=RIdJMD42ZGs

[2018-06-20 19:08] SMotaal commented on #136
@ljharb is there a thread I can reference to get up to speed on package name maps?

[2018-06-20 19:09] MylesBorins commented on #136
https://github.com/domenic/package-name-maps

[2018-06-20 19:09] SMotaal commented on #136
Awesome 👍

[2018-06-20 19:28] #55 closed

[2018-06-20 19:28] #129 closed

[2018-06-20 20:05] robpalme commented on #126
On Zoom I just see "Please wait for the host to start this webinar" yet on YouTube the meeting is happening.

[2018-06-20 20:05] MylesBorins commented on #126
@robpalme the meeting just ended :(

[2018-06-21 06:03] #81 closed

[2018-06-21 06:03] #87 closed

[2018-06-21 06:03] #93 closed

[2018-06-21 06:03] #94 closed

[2018-06-21 06:03] #95 closed

[2018-06-21 06:03] #96 closed

[2018-06-21 06:03] #97 closed

[2018-06-21 06:03] #98 closed

[2018-06-21 06:03] #99 closed

[2018-06-21 06:03] #100 closed

[2018-06-21 06:03] #101 closed

[2018-06-21 06:03] #102 closed

[2018-06-21 06:03] #103 closed

[2018-06-21 06:03] #104 closed

[2018-06-21 06:03] #105 closed

[2018-06-21 06:03] #106 closed

[2018-06-21 06:03] #107 closed

[2018-06-21 06:03] #108 closed

[2018-06-21 06:03] #109 closed

[2018-06-21 06:03] #110 closed

[2018-06-21 06:03] #111 closed

[2018-06-21 06:03] #112 closed

[2018-06-21 06:03] #113 closed

[2018-06-21 06:03] #114 closed

[2018-06-21 06:03] #115 closed

[2018-06-21 06:03] #116 closed

[2018-06-21 06:03] #121 closed

[2018-06-21 06:03] #127 closed

[2018-06-21 06:03] #132 closed

[2018-06-21 06:03] #133 closed

[2018-06-21 20:18] GeoffreyBooth commented on #119
Maybe a starting point could be a document that just defines the list of terms in https://github.com/nodejs/modules/issues/119#issuecomment-395202322?

[2018-06-23 16:00] SMotaal commented on #119
Okay, I shared a new [Terminology](https://docs.google.com/document/d/150lG_qm7GdylZ08akrk8gdIUgZC8HtnTGAfgD9R5QEI/edit?usp=sharing) document.

Please copy over what you think needs to remain.

Let's try to use comments in both docs to reach decisions together.

[2018-06-25 17:21] bmeck opened #138 ""Transparent" Interop is a confusing term"
We should try and find a better set of terms as this usage of the word "transparent" is proving to be different across multiple discussions / viewpoints. I'd suggest we split up different points and avoid using the word "transparent" when talking about things. How do other people feel about deprecating using the term "transparent" when talking about interoperability?

[2018-06-25 17:35] MylesBorins commented on #138
+1 to deprecation

Do you have a suggestion for alternative?

Mixed Mode Interoperability?
Overloaded Import?

[2018-06-25 17:45] jkrems commented on #138
How about just "interop"? In the context of the module discussion that seems sufficient. Potentially with "backward interop" and "forward interop" to describe the two directions?

[2018-06-25 17:46] guybedford commented on #138
I don’t really understand where the confusion comes here - it seems an
incredibly well defined term to me:

Given a parent module written in a module format, the ability to load a
child module of a different module format from the parent using the natural
native module syntax of the parent module.

The term interior covers the fact we are bridging module systems.
The term transparent covers that w

[2018-06-25 17:47] GeoffreyBooth commented on #138
I interpret “transparent” to mean, “as a user, I don’t need to know the module type.”

I agree it can be confusing, but I think maybe it really is this simple? The core of it is that I can import a package without needing to know whether that package is ESM or CommonJS. The rest of transparent interop flows from that: I need to be able to _export_ from a package such that this “blind” import works

[2018-06-25 18:02] bmeck commented on #138
I don't think we can have a single term.

The problem I think is that it covers too many things, we need to classify different aspects of interoperability. Per my thoughts on how to classify things:

- require interoperability : the ability to use `require()` to load ESM
- import interoperability : the ability to use `import` to load non-ESM (JSON/C++/CJS/etc.)

Part of the problem also is the usa

[2018-06-25 18:24] ljharb commented on #138
@GeoffreyBooth “as a user, I don’t need to know the module type" is why .mjs is transparent (because only the author needs to know that, not the consumer).

I think we should differentiate between, to name a few:
 - consumers need to know the module type, or not
 - authors need to know the module type, or not (i can't conceive of how this can be avoided, ofc)
 - `require('esm')`
 - `import 'cjs'`

[2018-06-26 09:53] robpalme commented on #138
Some people think ***transparent interop*** is obvious/well-defined and others interpret it as some combination of independent attributes.  I believe the simplicity of the term is unhelpful and is preventing us from communicating clearly in discussions.  Maybe if we define the terms precisely we can better debate the problem space.

I've made an attempt at defining these terms loosely based on @bm

[2018-06-26 09:55] robpalme commented on #119
@SMotaal I've attempted to begin population by starting with the most controversial term (transparent interop).  It is an attempt to resolve https://github.com/nodejs/modules/issues/138

[2018-06-26 12:05] bmeck commented on #138
@robpalme that is a good direction to take this I think. I personally would like it to be split up more, but think adding terms separately might be enough.

[2018-06-26 17:19] zenparsing commented on #138
@robpalme Thanks. I think it's interesting that we are converging around the definitions of "require interop" and "import interop".

In your definitions, you specifically call out some challenges with each interop direction:

- For "require interop", the challenge of returning a Promise from require, because of async ESM modules.
  - Comment 1: I would say that returning a Promise from `require` i

[2018-06-26 19:09] robpalme commented on #138
@zenparsing thanks for the comments.

- For *require interop*, I agree and am inclined to think that the existence of dynamic `import()` negates the desire for a version of `require()` that returns promise-wrapped modules.  So I have redefined *require interop* to mean returning the namespace directly as a value.  I'll add the promise-wrapping variant back if anyone says they want it.
- For *impor

[2018-06-26 19:11] bmeck commented on #138
@robpalme I'd add the Promise wrapping variant because I don't think that the ability for APIs interoperate deals with isomorphism of the APIs.

[2018-06-26 19:19] robpalme commented on #138
@bmeck Sure.  We can go for completeness if you think it's important.  But is there anyone that would ever want a variant of `require()` that returns promise-wrapped ESM namespaces?  I'd prefer succinct terms for things that we all agree only have one desired meaning in practice.

[2018-06-26 19:30] bmeck commented on #138
@robpalme people shipping libraries to versions of Node that don't support ESM and want to create an API that works the same as in a version of Node that supports ESM. They could be compiling ESM down to Promises using something like babel, or they could be directly writing CJS that is isomorphic to people on versions of Node supporting ESM. Basically, anyone who wishes to continue support consume

[2018-06-26 19:41] zenparsing commented on #138
@bmeck I agree that "require interop" does not necessitate isomophism of the module's API. On the other hand, I'm not sure we should call Promise-returning `require` "interop".

Let's assume for the sake of argument that we have a version of "require interop" that returns promises for module namespace objects. If I have a module `C` which takes such a dependency, then `C`'s exports will also need

[2018-06-26 19:50] bmeck commented on #138
@zenparsing in my description above this is exactly why I had `timing isomorphism`. However, I will note that I feel very strongly that this is a form of interop since you can still use `require()` in an isomorphic manner, albeit for a subset of all possible modules. I don't think isomorphism means that all ESM/CJS is capable of running in the the opposite mode, just that there is some form of iso

[2018-06-26 21:18] zenparsing commented on #138
@bmeck

I agree, but it appears to me that if I consume a promise-returning `require`, then based on the examples above, I'm no longer *really* CJS, at least in the way that CJS is typically written and consumed. I've now become something slightly different: maybe we could call it `asyncCJS`. And all of my consumers are forced to become `asyncCJS`.

From that point of view, `require(esm): Promise<

[2018-06-26 21:21] bmeck commented on #138
@zenparsing in my example above it works perfectly well to put that in a CJS file today, what makes the distinction that it is not CJS but something else? How is a CJS file that exports a `Promise<T>` not CJS?

[2018-06-26 21:29] ljharb commented on #138
@zenparsing
This is an example of how you might consume things asynchronously today, using live bindings, with CJS.
[code]

It's certainly not idiomatic, but there's all sorts of cases where requiring a promise need not force the export to be a promise in current CJS.

[2018-06-26 21:34] zenparsing commented on #138
@ljharb I'm not sure I would call that "live bindings". I'd call that zalgo! 😵

[2018-06-26 21:35] bmeck commented on #138
I don't think we can give the list of names on the export to form that module namespace synchronously, so I don't think we could preserve that exact code since it doesn't wrap the whole export in a Promise.

[2018-06-26 21:41] ljharb commented on #138
@zenparsing it's identically as z̲̗̼͙̥͚͛͑̏a̦̟̳͋̄̅ͬ̌͒͟ļ̟̉͌ͪ͌̃̚g͔͇̯̜ͬ̒́o̢̹ͧͥͪͬ as ESM live bindings :-p

[2018-06-26 21:44] zenparsing commented on #138
I was totally trying to figure out how to put that graphic in there and settled for dizzy face. You win!

[2018-06-26 22:10] demurgos opened #139 "Patterns for interoperability"
**Edit**: This post ended up pretty long, I hope it depicts a relatively complete picture of the current state of native CJS/ESM interop.

# Introduction

Hi,
Following the current discussions around defining a better term instead of "transparent interop" (#137, #138), it seems that most of it revolves around allowing libraries to migrate to ESM without impacting the consumer ("agnostic consumer")

[2018-06-26 22:15] bmeck commented on #138
@demurgos the consumer could still get access to `require()` somehow and still load that file? Moving to ESM means they most likely would `import` the CJS dependency though, and that is no longer a topic about `require()` interoperating with ESM.

As a related topic, if the library were to move to ESM and the consumer were to remain CJS/use `require()`  to access the library it would continue to w

[2018-06-26 22:46] bmeck commented on #139
Can you expand on this. In particular in your base statements you say that CJS would provide a default export equal to `module.exports`.

[code]

would have the same value for `lib` as:

[code]

[2018-06-26 23:02] demurgos commented on #139
I will need to rephrase it: I meant that most of the libraries existing today cannot keep their API and move to ESM in a consumer agnostic way... but somehow ended-up writing something unrelated.

I am mostly concerned about exploring how far you can go with the intersection between ESM and CJS. I am especially interested in the last section: providing an API that can let your lib migrate to ESM w

[2018-06-27 07:01] zenparsing commented on #138
@bmeck

Rather than pursuing that line of argument, I think I'd just like to say that `require(x): Promise<T>` is not a desirable or compelling interop story. Even leaving the viral async argument aside, I think (hope!) I can safely say that no one wants to consume an ESM module from CJS by doing this:

[code]

(Also, if I am using Babel to transpile my ESM to CJS, is Babel supposed to generate th

[2018-06-27 08:00] robpalme commented on #138
In the spirit of permitting CJS to be written for today's Node (pre-ESM) that can cope with importing future ESM module graphs containing Top-Level Await, I find @bmeck  's arguments in favour of `require(esm) : Promise<ESM>` reasonable.

This can be achieved today by creating a CJS module that just exports a promise containing an object that meets the constraints of ESM namespace (using restricte

[2018-06-27 09:22] demurgos commented on #138
I think that promise-wrapping on the CJS side is an anti-pattern because it complicates the migration of consumers to ESM.

If you can use `import()` in CJS, then the main use case for `require("esm")` I see is to use in libraries dealing with lots of dynamic imports and having to work with Node versions where `import(...)` is not supported. You can then use `Promise.resolve(require(...))` with so

[2018-06-27 11:42] SMotaal commented on #127
@bmek One thing I keep hitting with the 20+ isolated experiments I did with loaders is the fact that sometimes the resolved URL to a module's actual file on disk is not the same as the URL of the module it intends to resolve as. For instance, if a loader transpiles and caches a module in a temporary file, that URL is the resolved URL, however it is should not be the `import.meta.url` nor should it

[2018-06-27 12:25] SMotaal opened #140 "Loaders: resolved vs. referencing URL"
The current experimental module `resolve` loader hook returns an `Object { format, url }` resulting in a mapping of the (original) referencing URL to a new resolved URL which satisfies idempotency requirements for subsequent calls to the same (original) host resolved URL.

While this is sufficient for many cases, sometimes it resolved URL's merely point to cached files which are generated for temp

[2018-06-27 13:50] bmeck commented on #127
@SMotaal for now you can insert `import.meta.url = ${JSON.stringify(desiredURL)}` at top of your transpiled script.

However this is not enough, will continue why in https://github.com/nodejs/modules/issues/140

[2018-06-27 13:52] guybedford commented on #127
Note this contextual handling is exactly why a translate hook is useful.

[2018-06-27 13:59] demurgos commented on #139
Ok, it ended up being a pretty long post, but it should be ready now. It covers all the patterns I see currently around the CJS/ESM interop.

The goal is to find ways for library authors to migrate to ESM without breaking their consumers too much. To achieve this, there are few "patterns" that were discussed here. I compiled them, provided examples and discussed their properties.

To summarize:
-

[2018-06-27 14:01] bmeck commented on #140
Can you clarify the "it" in this section.

You can instrument dynamic loaders like https://bmeck.github.io/node-sw-compat-loader-test/dist/ but I agree that it is not pleasant.

My general fix it suggestion for the `import.meta.url` problem is to just rewrite the `import.meta.url` at the top of your transpiled file:

[code]

However, this is actually part of a series of concerns that fall out of

[2018-06-27 14:08] bmeck commented on #138
@demurgos you cannot use `import()` in CJS in versions of Node that don't support ESM. I'm not sure I understand since migration path will be occuring for people on versions without ESM as well. Your suggestion with `Promise.resolve(require(...))` requires consumers to manually implement what `require("esm")` would do, at which point we should question why we don't support that feature, and why li

[2018-06-27 14:10] bmeck commented on #139
can we change from using `"esm"` to something else when referring to specifiers that are loading in the Module goal since it conflicts with https://www.npmjs.com/package/esm and is a bit confusing after my initial reading given the last section.

[2018-06-27 14:22] bmeck commented on #127
@guybedford I don't think this implies we need a separate hook / translate, if you could explain that a bit it would help here.

[2018-06-27 14:33] demurgos commented on #139
`require("esm")` seems to be preferred way to indicate that we are loading with the module goal.
I edited my post to state it clearly and ensured that I always say "@jdalton's `esm` package" when talking about this tool.

[2018-06-27 14:37] SMotaal commented on #140
https://github.com/nodejs/node/blob/4750ce26f2e6079b5fee92bdee5356c279171d22/lib/internal/modules/esm/translators.js#L26-L34

[2018-06-27 14:45] guybedford commented on #127
@bmeck do you mean combining with resolve or combining with load? A load hook can certainly work as an alternative to any translate hook.

[2018-06-27 14:50] demurgos commented on #138
I discussed it more in the "Promise Wrapped Plain Object" section of [my post about interop](https://github.com/nodejs/modules/issues/139).

My assumption is that if you have `require("esm")` then you already have `import(...)`.
It means that if the users cannot use `import(...)` then they can't use `require("esm")` either. Is it true?
This is why I assume that you either can use `import(...)` dir

[2018-06-27 14:52] bmeck commented on #127
there is too much tribal knowledge in those terms of "load" vs "translate" for me to understand, I've been looking at having:

[code]

[2018-06-27 14:55] SMotaal commented on #140
I was referring to how with the current Loader hooks, custom loaders that wish to resolve to an arbitrary file (namely one in something like `/.cache/<hash>`) will have to rewrite relative static and/or dynamic specifiers by implementing *it* using their own wisdom and magical powers.

[2018-06-27 14:56] guybedford commented on #127
Could you not just return a Blob URL directly in such a case?

Blobs can work certainly, but are a bit more work as any importers need to be able to look up the mapping from the file URL to the blob for that resource, which is avoided with a translate.

What I mean by `load` is basically a `fetch` hook that can choose to do translation (load effectively covering both concepts).

[2018-06-27 14:57] guybedford commented on #127
Also the issue with resolvers getting data as you've written is that it's a many to one function, so precedence on body / data would apply.

[2018-06-27 15:12] SMotaal commented on #127
@guybedford I am +1 for a translation hook as long as chaining it is handled appropriately (which in my opinion is different from resolve's chaining).

My biggest consideration in all my testing so far has been to the potential for redundant "stringing" garbage and mishandling references to expired objects. My second one is determinism of resulting URL, ie URL.createObjectURL does not allow for de

[2018-06-27 15:15] zenparsing commented on #138
@robpalme That summary looks reasonable, and I *really* want to agree with it, but I'm having a hard time.

Unfortunately, I simply can't imagine a package author asking users to call "then" on their library. Nor do I understand how Babel is supposed to generate the call to "then" if the package consumer is transpiling. Does Babel convert all static imports into `require(x).then`? Does that force

[2018-06-27 15:29] ljharb commented on #138
There is not yet a TLA, so i think we should be discussing things primarily without assuming it (not that we should ignore it).

[2018-06-27 15:31] SMotaal commented on #140
I was completely blown away when you introduced Loader last year not just because we all want real ESM but more importantly because of how your implementation of all static aspects was completely non-intrusive. So obviously for experimental purposes I have not issues with source text padding, but for real-world, I think that anything that is not runtime (aside from annotations like source maps) sh

[2018-06-27 15:32] bmeck commented on #138
Even without TLA, `import()` is going to act asynchronous, there are zebra striping issues with cycles and synchronous ESM and CJS for modules without well known shapes, and loaders are likely to use asynchronous behaviors to allow for things like off thread processing. I don't think TLA needs to be assumed, but asynchrony should be.

[2018-06-27 15:38] guybedford commented on #140
@bmeck my only worry is that RESOLVE(pkgA, /pkgB/index.js) and RESOLVE(pkgA, /pkgC/index.js) is two calls to resolve that won't necessarily know which is called first when it comes to providing the data for pkgA, leading to possible unnecessary work / race condition issues.

[2018-06-27 15:39] bmeck commented on #140
@guybedford can you clarify? I'm not entirely sure I understand.

[2018-06-27 15:45] guybedford commented on #140
For a module already loaded, when resolving it from a new parent, `data` in resolve might be doing unnecessary work.

[2018-06-27 15:51] bmeck commented on #140
@guybedford I would assume the extra data would probably be able to be loaded from some sort of cache. I added it as a mechanism to allow loaders to preserve the data being generated, so it seems to be at odds if the loader does not intentionally cache it in some way. I think we can create recommendations on how to avoid duplication, but some things that Node may not directly integrate with like p

[2018-06-27 15:54] SMotaal commented on #140
So I will catch up on #135 to keep the related matters there, but I just wanted to point out a special aspect in the scenarios I mentioned in this issue.

Here the only control a hook has is limited to opt to declare a resolution as either symbolic mapping (import.meta.url retains the original `resolve(referenceURL = new URL(specifier, referrer))`) instead of the concrete mapping (import.meta.url

[2018-06-27 16:01] zenparsing commented on #138
@bmeck Let's try to unpack some of that.

True, but `import()` alone does not affect the ability to deliver the module binding graph synchronously; it is not an interop hazard.

Can you expand on this a bit? For the sake of argument, let's assume that "import interop" does not support named exports.

I don't have a very clear picture of what this scenario looks like. Are we talking about a custom

[2018-06-27 16:20] SMotaal commented on #140
@bmeck can you elaborate on this more...

From my own perspective, as the creator/user of custom loaders, I imagine that for replay I `node --loader <my chaining loader if Node does not yet chain> <my parentURL-centric resolving loaders> <my recording loader> <my symbolic mapping loaders>` and the recording loader would be something like this:

[code]

[2018-06-27 16:58] devsnek commented on #139
/cc @jdalton please consider going back to `@std/esm`, this also comes up a lot as an issue in help forums where people don't know the difference between real esm and your module.

[2018-06-27 17:49] demurgos commented on #139
This exists, don't use it :smile: (zalgo pattern).

CJS lib
[code]
ESM lib
[code]

CJS consumer:
[code]
ESM consumer
[code]

Any combination of lib/consumer CJS/ESM and transitions is preserved by this pattern, it does not require `.js` + `.mjs` but it stretches what is reasonable.

It allows you to have safe migration and not break the expectation of the consumer when he migrates from CJS to ESM

[2018-06-27 20:04] bmeck commented on #139
There are a ton of things being considered in isolation here. I'm having trouble finding a good way to reply to this, but I think if you take the different approaches and judge how they are able to be used in coordination with each other rather than isolation it serves a very different picture of migration possibilities.

For example, when talking about the `Promise-wrapped plain object` section,

[2018-06-27 20:47] demurgos commented on #139
Thanks for the reply,
I know that it's a long post but I wanted to have a single place with the various ways to deal with interop to get a better view of what is available.

Regarding your last message, my initial reaction was "why not using only facade then?".
The downside compared to a simple facade is that it forces CJS consumers to import asynchronously, as mentioned by other people: this is v

[2018-06-27 22:14] bmeck commented on #140
@SMotaal

per https://github.com/nodejs/modules/issues/140#issuecomment-400738368

I'm not sure you want `let referencingURL = new URL(specifier, referrer);`, since the parent loader you call out to might not want those combined (for example if the specifier `/foo` removed the pathname from the referrer).

I'm confused due to comment above this. You shouldn't be combining data in a lossy manner to

[2018-06-28 01:43] bmeck commented on #138
Zebra striping is a term from https://github.com/whatwg/loader/blob/0093dc874b9739c8cbf96a5994de2b923778e4e5/rationale.md#dynamic-modules-do-not-have-tracked-dependencies and conversations that led up to that point. It is the concept of having multiple "colors" of the module graph while evaluating code and generating bindings. In particular the problem arises from when the list of bindings is dyna

[2018-06-28 03:34] jkrems commented on #138
One example: If we allow resolving a module graph synchronously, we will lock ourselves out of [`WebAssembly.instantiateStreaming`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/instantiateStreaming), which is the recommended way of handling WASM according to MDN. If we are in an async world, we can stream the `.wasm` content from disk, (potentially)

[2018-06-28 07:05] MylesBorins opened #141 "Proposal: minimal esm implementation"
Hey All,

Like everyone here I've been thinking about this a whole bunch. For a while I've been trying to come up with a minimal implementation that we can iterate on. Something that could offer a fast path to deflagging.

### Features

* esm works with flag --experimental-modules
* must use .mjs as entry point for node binary
* no transparent interoperability
* import.meta.require for cjs interop

[2018-06-28 09:03] WebReflection commented on #141
Quick review from user perspective.

### Not only the entry point
You wrote "_must use .mjs as entry point for node binary_" but I've noticed `.mjs` is mandatory as entry point regardless it's a binary file or not. Since there is a mechanism to start ESM, I'd love to have a flag that forces ESM as in `node --experimental-modules --esm index.js`.

### Overall working ...
Overall everything seems to

[2018-06-28 12:34] bmeck commented on #141
Can you define "transparent" interop here so that it doesn't get confused.

I remain strongly opposed to `import.meta.require` in light of my discussions on the related PR.

I would like to better understand the reasoning behind all of these choices rather than just seeing something that works. It would be nice to see a write up on what things were chosen not to be supported and why the use cases

[2018-06-28 12:37] bmeck commented on #139
can we add a column to the support table on if the `require()` API result is the same as the `import()` API result?

[2018-06-28 12:46] demurgos commented on #139
@bmeck
I have a table around the top of the post with the CJS API and ESM API, they represent the contraints of the API received depending on the consumer type.

CJS API: Shape of the result for `require("./lib")`
ESM API: Shape of the result for static `import`, the result for dynamic `import("./lib")` is the same but wrapped in a promise.

Do you want me to add something else or are you referrin

[2018-06-28 12:52] bmeck commented on #139
@demurgos I'm trying to get a table for places it will be safe to migrate from:

[code]

to

[code]

Due to the return value of those being the same shape. The Shape of the CJS API right now in that table does not encompass if it is safe to move from `require()` to `import()` without refactoring.

[2018-06-28 13:04] demurgos commented on #139
Ok, I was assuming that the shape of dynamic `import(...)` would be redundant with "ESM API" but it's better to write it explicitly.

Would this change be fine:

Current:

| Pattern | CJS API | ESM API |
| ------- | --------- | --------- |
| Default export                  | N/A                    | `{default: Api}` |
| PWPO                             | `Promise<Api>`  | N/A                 |
| E

[2018-06-28 13:06] bmeck commented on #139
Sounds good to make a PR

[2018-06-28 13:15] demurgos commented on #141
To clarify, the issue with the package-name maps is that it requires the specifier to have an extension. Unless there's is another way to branch on the module type used by the consumer, this rules out the patterns relying on "mjs + js" (see table in #139). This currently leaves only "Default Export" and its clunky API as a completely safe pattern.

[2018-06-28 14:15] jkrems commented on #141
I really like the direction of going for a more minimal solution.

I agree with @bmeck that there's some open questions. But I'd like to address them from a perspective of "what is the use case". So "Loading of polyfill or APM instrumentation that is implemented in CJS" instead of just "ordering concerns". Because that will most likely inform how we talk about it. When refactoring an application w

[2018-06-28 14:16] bmeck commented on #141
@jkrems we have files for configuration and singleton modules at work that need to evaluate prior to others. They configure things like servers and database connection pools. These are outside of polyfill or APM concerns.

[2018-06-28 14:29] jkrems commented on #141
One possible answer for "how would polyfills work in that world" would be "it requires an intermediate module", e.g.:

[code]

But that definitely reduce the abilities of modules that need to ensure a polyfill (no static import of actual code, pretty awkward exports).

[2018-06-28 14:42] bmeck commented on #141
I hate the term "just work"/"just fail" because it shuts down discussion of what/why things act a specific way under a guise of it being plainly apparent. We should try and explain why things serve or do not serve a use case.

I also want to bring up concerns that I have expressed elsewhere about introducing CJS permanently to all ESM modules under `import.meta.require`. As shown by @jkrems above,

[2018-06-28 15:00] jkrems commented on #141
I'm not sure I follow. `import 'some-thing-that-happens-to-be-cjs'` is just as incompatible with the web as `import.meta.require('the-same-string')`. One difference is that the latter makes it immediately obvious and sounds the alarm bells ("this files will not work in a browser").

[2018-06-28 15:04] bmeck commented on #141
@jkrems `import 'some-thing-that-happens-to-be-cjs'` can migrate to be ESM instead of CJS without causing consumers to break. That code itself is not incompatible but the underlying implementation of `'some-thing-that-happens-to-be-cjs'` is. That is why I am saying it is a codebase incompatibility and absolutely not a platform incompatibility. The platform does not prevent you from writing code th

[2018-06-28 15:05] ljharb commented on #141
I really don’t understand why we’re seeing implementation proposals before we’ve finished discussing transparent interop (all of its definitions) and defaults.

[2018-06-28 15:46] zenparsing commented on #141
I agree with @ljharb here. It's good to see this work, and @WebReflection 's feedback is valuable, but I think the waters are still pretty muddy. I think we should come back to looking at implementation alternatives after we've done some more work on our framework for evaluating implementations.

[2018-06-28 16:29] zenparsing commented on #138
@bmeck

Thanks for expanding on that. I agree both that we want to avoid any zebra-striping and that we want to support a wide range of async custom loading scenarios.

@jkrems

Thanks for the concrete example. I agree that graph loading should be async to support all of these use cases.

[2018-06-28 16:56] michael-ciniawsky commented on #141
IMHO `createRequire` 'vs.' `import.meta.require` should be discussed further

`createRequire`

[code]

### `import.meta.require`

[code]

`createRequire` includes a small extra step to get CJS working in within a module, which is a good thing as it makes CJS usage less convenient and explicilty indicates that CJS usage is mainly thought of as a migration step and usage should ideally be temporaril

[2018-06-28 18:43] devsnek commented on #141
the author of the file should always have first say over what kind of file they authored. node can provide things to override defaults but the default behaviour must always defer to the author of the file.

[2018-06-28 19:13] jkrems commented on #141
I'd be cautious with that line of thinking. Making anything less convenient should never be a goal. Because people are *really* good to find a path of least resistance. So if you make something less convenient, people will find a more convenient solution. And it's almost never what you actually wanted them to do.

[2018-06-28 19:20] zenparsing commented on #141
@MylesBorins In general, I think this is a good direction. How does resolution work when importing a package specifier?

- Does it look for the "main" key in `package.json` and load that file as ESM?
- Does it still support `index` at the package root?

[2018-06-28 20:00] bmeck opened #142 "disambiguate "web compatibility""
similar to "transparent" interop, the use of the term "web compatibility" is a bit muddy in usage.

I think we need to discern 2 main things:

1. **Code compatibility concerns**: if users are being encouraged to/must produce code that *cannot* run on web browsers. Examples include:
     * using things that are not present on `import.meta` in browsers
     * using magic variables like `__filename`

[2018-06-28 20:11] jkrems commented on #142
I would call `import 'cjs'` a code compatibility concern, just like `__filename` or accessing node-specific globals like `Buffer`. In all cases it's valid syntax but will do different things in the browser (in most cases: it will break in the browser). You can change another part of your project to "fix" it but at that point you changed the code and it is no longer `import 'cjs'`.

Magically switc

[2018-06-28 20:16] bmeck commented on #142
@jkrems can I ask for examples that mandates people to import CJS, or presents a path that prevents them from shipping ESM.

What you describe is that there a lack of feature parity between the code, I claim that is not a compatibility concern since nothing enforces people to do something that **must** be incompatible with the web.

You are describing a migration problem as well, but you are not s

[2018-06-28 20:29] zenparsing commented on #141
There appear to be some bugs around package specifiers; it seems to be possible to import from a directory if the directory is contained within a package path (e.g. `import "pkg/folder"`).

Other than that, the general idea seems to be: you can only import from a directory if you are using a root-level package specifier, and in that case the normal `package.json` and `index` rules apply, with the

[2018-06-28 20:36] MylesBorins commented on #141
If anyone would like to push commits on top of this to fix bugs, extend / change implementation, or anything else please do. Follow up with a comment and if I have issues with what's pushed we can talk through it.

[2018-06-28 20:44] bmeck commented on #142
@jkrems maybe to clarify a bit, what about `import 'cjs';` has different aspects than `import.meta.require('cjs')` that makes `import.meta.require` able to avoid breaking module graphs shipped to both platforms.

[2018-06-28 21:01] jkrems commented on #142
Nothing. It just makes it immediately apparent that a file containing `import.meta.require('some-lib')` won't work in the browser. For `import 'some-lib'` I have to start researching and/or reading `some-lib`'s code.

[2018-06-28 21:01] guybedford commented on #141
I’m tempted to say the implementation approach is just about right - in
that having extensions for the main is ok, or allowing directory lookups
are ok, as long as it was resolved from a plain name to begin with thereby
being package map compatible.
On Thu, 28 Jun 2018 at 22:36, Myles Borins <notifications@github.com> wrote:

[2018-06-28 21:03] bmeck commented on #142
@jkrems would the notification of linkage failing and certain parse failures not serve the same purpose? In addition as I mention above `some-lib` could take multiple routes to support shipping both formats. Is your concern just about wanting to define the format of the module being imported at the location it is imported?

[2018-06-28 21:48] GeoffreyBooth commented on #142
I’ve thought it was odd that Node allows `import './file'` but browsers require the full filename including extension, e.g. `import './file.js'`/`.mjs`. Ditto for folders resolving to `/index.mjs`. Regardless of whether you think this is behavior that Node _should_ allow in ESM, I think this automatic resolving of file extensions and of folder entry points is something that should be on the list o

[2018-06-28 21:51] bmeck commented on #142
@GeoffreyBooth I've put the resolution algorithm into Platform compatibility concerns.

[2018-06-28 21:52] bmeck commented on #142
I'd also note that even with the example of `import 'lodash'` which doesn't have an extension it would still be able to resolve to any format, so it is separate from the ability to import non-ESM.

[2018-06-28 22:00] ljharb commented on #142
@jkrems you have to do that research regardless, because any module anywhere in the graph might use `fs`. Are you suggesting that ESM shouldn't be able to import node's core modules?

[2018-06-28 22:01] ljharb commented on #142
@GeoffreyBooth a) browsers don't mandate the extension, they use URLs. if the URL lacks an extension, so too can the import path. b) with package name maps, you'll be able to omit extensions in browsers (just like is the best practice in node/npm), and it will work the same without a build step. This is a good thing.

[2018-06-28 22:30] ljharb commented on #142
It's something node already does by default, and it's something users expect. Whether it's implemented in terms of package name maps or not, I think that it would be extremely hostile to users to omit.

[2018-06-28 22:36] MylesBorins commented on #142
I'm going to modify the pr I opened for file extensions.

Seems based on this conversation that the appropriate behavior would be to
load the path without any resolution, instead of enforcing file extensions

On Thu, Jun 28, 2018, 6:30 PM Jordan Harband <notifications@github.com>
wrote:

[2018-06-28 22:57] GeoffreyBooth commented on #142
@ljharb I hear what you’re saying, and the user hostility is why there should still be some way for them to do it: via a loader, via package name maps, or something else. But put simply, either we’re trying to be equivalent with browsers by default or we’re not.

The current behavior certainly wouldn’t change in CommonJS, it’s only ESM we’re discussing here.

I’ve come to accept that Node isn’t go

[2018-06-28 22:58] ljharb commented on #142
I don't think we should be trying to be equivalent by default with browsers - browsers don't have filesystem access, nor a massive CJS ecosystem it needs to retain compatibility with <sub>(they have a much more massive legacy ecosystem to retain compatibility with)</sub>.

[2018-06-28 23:13] bmeck commented on #142
I'd note that in all scenarios we are not equivalent. using `import.meta.require()` is the same level of concern as supporting `import 'cjs';` since it also won't work in browsers because the dependency is an unsupported format, not to mention that `import.meta.require` won't even be shipping in browsers. There is no scenario where we have this false sense of equivalence.

[2018-06-28 23:18] zenparsing commented on #142
Is there any advantage to choosing `import.meta.require` versus `import "cjs"`?

- `import.meta.require` is less complicated to explain
- `import "cjs"` can give the user some surprise, if they are expecting named exports
- `import.meta.require` nudges authors to intentionally opt-in to an ESM API, and therefore may encourage migration

[2018-06-28 23:24] GeoffreyBooth commented on #142
I think the distinction is that, we don’t expect equivalence with browsers whenever CommonJS or interoperability with CommonJS is involved; but in all-ESM mode, I would expect Node to behave the way browsers do. If I can do `import './file.js'` in a browser, I should be able to do the same in Node. If I can’t do `import './file'` in a browser, I wouldn’t expect Node to let me do so (without patchi

[2018-06-28 23:38] GeoffreyBooth commented on #141
In #137 there was a lot of discussion of initial entry points. I think the consensus was that we need a CLI flag to handle the `--eval` and STDIN cases, where there’s no filename to cue Node as to the parse goal. @bmeck made several good points about being careful to design the flag to avoid breaking WASM and other future module types.

[2018-06-28 23:40] devsnek commented on #142
i think thats a bit of a red herring. both node and browsers have non-esm formats they would like to interop with. (wasm, html, etc)

[2018-06-28 23:41] ljharb commented on #142
@zenparsing imo requiring intentional opt-in actually discourages migration :-/

@GeoffreyBooth you can't use `document` in node; i don't think it's reasonable to assume that "i can do it in a browser" means "i can do it in node", and certainly not the reverse.

[2018-06-29 00:57] weswigham commented on #138
AFAIK It's recommended because in chrome v8 limits synchronous wasm evaluation to something like 500kb to prevent thread hangs from large wasm blobs. It's less of a problem in node, where a thread "hang" on a dependent resource is sometimes the desirable outcome (or at least always is for a `require`).

[2018-06-29 01:06] devsnek commented on #138
its recommended in every platform that supports wasm. the format is designed to be streamed. its simply good design.

[2018-06-29 01:12] weswigham commented on #138
Streaming the parse result only matters if you process the stream as it comes in, otherwise all it does is affect the API required to do the same thing (and prevent a thread lock). No esm consumer is going to do something on a partially parsed wasm file, or anything, for that matter, while imports are being resolved. Afaik, the only observable difference would be weather the just thread is locked

[2018-06-29 01:30] jkrems commented on #138
That's a weird assumption. `import('file')` is a thing. So - yes, a consumer might absolutely try to do things while a bunch of web assembly is resolving and compiling. And if it's a lot of code, loading it might have an observable impact on performance if it happens on the main thread.

[2018-06-29 01:30] GeoffreyBooth commented on #139
I second the suggestion for this to become a PR, or a Wiki page. This is a great document.

Forgive my ignorance, but can you please explain what you mean by `<Exports>` and `<Ns>`? Is `<Exports>` basically just “an object of type Exports”, a.k.a. a plain JavaScript object whose values are the members exported by a module?

Also are the patterns here written to cover just the various scenarios wit

[2018-06-29 01:45] GeoffreyBooth commented on #142
@bmeck I didn’t mean in my example that `file.js` was to be assumed to be CommonJS or Script, forgive me for leaving that out. I said above that I was describing an all-ESM environment, but I should’ve made extra clear that I was intending `file.js` to be an ES module. I understand that’s confusing in this context since in `experimental-modules` ES modules must be files ending in `.mjs`. What I ha

[2018-06-29 03:53] zenparsing commented on #142
There seem to be a couple of fairly strong arguments against both `import.meta.require` and `import "cjs"`:

- `import.meta.require` injects legacy APIs into the new module system
- `import "cjs"` (assuming no named exports) will probably frustrate users when moving from transpiled ESM to native ESM that are expecting named imports

The max-min implementation must provide some way to load CJS from

[2018-06-29 03:56] weswigham commented on #138
@jkrems

And you could probably use the synchronous API for a statement based request and the async one for a dynamic import if need be.

[2018-06-29 03:56] zenparsing commented on #142
Also, a meta-note: I'm not really digging the GH emoji responses in the context of this debate. I find them emotionally distracting; I think they make it harder to come to a shared understanding.

[2018-06-29 04:10] GeoffreyBooth commented on #142
Strong +1 to this (almost used an emoji for it). People have a right to express themselves, of course, but 👍s to support one side of a debate only make arguments more heated. It feels like a lot of 👍s are given to express solidarity with one side or another, which doesn’t help forge consensus.

[2018-06-29 04:22] devsnek commented on #142
i like at least 👍 because it lets us gauge agreement without cluttering comments

[2018-06-29 05:32] ljharb commented on #142
I think the frustration of "i can't have named imports from CJS, but oh well, i can still import it and destructure in another line" is way way less of a downside than legacy APIs in the new module system.

[2018-06-29 06:17] demurgos commented on #139
I'll probably finish the PR over the week-end: I need to also need to add a section defining the terminology used here.

Agreed regarding `Exports` and `Ns`. This notation helped me to differentiate the constraints of the various loading mechanisms but they should be better defined and have examples.

`Exports` represents the type of `module.exports`, it can be a plain object or a function or a re

[2018-06-29 13:28] bmeck commented on #142
I can try and expand to comments instead of emojis to give greater clarity in what I agree with within other comments, but already feel I occupy a large amount of text in multiple threads.

@GeoffreyBooth you do have a point with some documentation, but there are plenty of others with named exports from CJS, loading CJS using `.js`, and loading files while using Node's path resolution algorithm wi

[2018-06-29 16:36] MylesBorins opened #143 "Should we skip next weeks meeting?"
It is happening on the 4th of July... A national holiday for many members

[2018-06-29 16:39] jdalton commented on #143
Oh snao! I'll be out.

[2018-06-29 16:46] jkrems commented on #143
I'll be out as well.

[2018-06-29 17:15] ljharb commented on #143
It’d be nicer to reschedule it - we have a lot to talk about. Any chance that’s viable?

[2018-06-29 18:08] weswigham commented on #143
Same. If we could move it to another day that week it'd be good, or I suppose the following week would be reasonable for most (not myself though, I'm leaving the country on vacation on the 9th for a week and a half).

[2018-06-29 18:14] MylesBorins commented on #143
Anyone can propose a time or make a doodle 😄

[2018-06-29 19:30] devsnek opened #144 "rename github team"
we get a lot of pings for cjs stuff which isn't our domain. I think the team should me named esmodules.

/cc @mylesborins

[2018-06-29 19:34] ljharb commented on #144
I disagree; it’s absolutely in our domain because of interop and feature parity concerns.

[2018-06-29 19:38] GeoffreyBooth commented on #143
Personally I'd love to just move to July 11 (the following Wednesday) and then stick to every other Wednesday after that.

But unless that magically works for everyone, yeah, let's do a doodle.

[2018-06-29 19:59] devsnek commented on #144
@ljharb rather- we don't govern it.

[2018-06-29 20:00] MylesBorins commented on #144
@devsnek fwiw we don't govern anything right now. We can choose the scope of what we want to govern when we charter.

TBH I think it would make sense to keep CJS in the scope of this team as we are likely to have a depth of knowledge

[2018-06-29 20:03] MylesBorins commented on #143
@GeoffreyBooth I'm up for moving one meeting but I think it is a bad idea to permanently shift the meeting without doing a doodle of the entire group. I for example have a conflict on alternating weeks. It is easy for me to move 1 meeting but more complicated for recurring meetings.

I'm assuming that this may be the case for various folks

[2018-06-30 01:38] zenparsing commented on #142
I think that we are in a classic max-min situation. Participants feel strongly on all sides, but all participants are motivated to make some kind of progress.

I assume that a user-space library can implement something like `createRequireFunction`. Is that true? If so, then maybe we can ship module support without `import.meta.require` or similar. I agree with @bmeck that we should not pollute the

[2018-06-30 03:00] ljharb commented on #143
July 25th is TC39, as well.

[2018-06-30 03:00] ljharb commented on #142
I don’t think we can move forward without the latter.

[2018-06-30 05:15] bmeck commented on #142
I completely disagree, I think the claim that web compatibility necessitates feature parity is fundamentally at odds with Node. The ability to load Node core modules and the ability to load CJS **in any form** is not something that can be used by modules seeking to be supported by both platforms. I think any solution to implementing ESM in Node mandates some manner of loading those exact modules t

[2018-06-30 06:15] zenparsing commented on #142
Sorry, I think I'm not doing a terribly good job of communicating my thoughts. I'll take some time and respond more carefully.

[2018-06-30 06:17] GeoffreyBooth commented on #142
@bmeck If I could speak for @zenparsing, I assumed he was referring to the discussion above where we were discussing file-level imports, where you would need `.mjs` in order to do `import './file'` and have it resolve to either `file.mjs` or `file.js`. Of course, unambiguous syntax or `"use module"` would also allow for file-level import interop, but I was under the impression that those solutions

[2018-06-30 07:29] GeoffreyBooth commented on #142
The discussion above about import name resolution, for one: if browsers can only resolve relative or absolute URLs, that _could_ be all that Node does, too (in ESM). Support for other types of resolution could get added via loaders, just as others have proposed using loaders for some or all CommonJS interoperability.

And so on for other things that both Node and browsers support. I think the `imp

[2018-06-30 07:57] bmeck commented on #142
@GeoffreyBooth that only covers the path resolution concerns.

If we intend to also limit to supported protocols of the browser, we will not be able to load off of `file:` URLs.

If we intend to also limit supported modules to only modules that browsers can load, we cannot load any Node core libraries.

If we intend to also limit supported modules to only the supported MIMEs of browsers (ESM and W

[2018-06-30 08:33] GeoffreyBooth commented on #142
@bmeck The second half of my post described how I agreed that we need to support all those things, and that there’s a school of thought that says to support them all through loaders. That might not be loaders as loaders are currently designed, it might be a radical expansion of what loaders are and can be, but there’s at least some logic to that thinking. Again, I’m not saying I agree with it. I’m

[2018-06-30 09:09] bmeck commented on #142
@GeoffreyBooth

As has been stated above, nothing about the file

[code]

Is unable to be interpreted with browsers, and even a reference server for it is shown above. If you can show me how that specific source text is unable to be loaded in a browser we could claim it to be incompatible. On the other hand:

[code]

will always fail in browsers as `import.meta.require` is not a function provided

[2018-06-30 09:18] GeoffreyBooth commented on #142
https://github.com/GeoffreyBooth/browser-equivalence-edge-case

[2018-06-30 14:53] ljharb commented on #142
@GeoffreyBooth your repo is a perfect example of why .mjs is needed, and shows how browsers’ choice of disambiguation causes the ambiguity. node has different constraints, and simply can’t make the same choice - so in node, the ambiguity wouldn’t exist, and the deviation from browsers is both unavoidable and desirable.

[2018-06-30 14:54] bmeck commented on #142
@GeoffreyBooth and Node can't even load it over HTTP, you are trying to make a claim that Node needs to create an environment where *any* module that loads in the Node default implementation *must* load in browsers in order to have your equivalence, but no such module exists. The only example that could exist would have been if Node was loading `data:` URLs which wouldn't have the protocol mismatc

[2018-06-30 15:35] zenparsing commented on #142
Can you provide a more concrete example of how that works? Let's say I publish a library where I use ".js" for ESM. How does my choice get preserved?

[2018-06-30 15:56] devsnek commented on #142
@zenparsing maybe there's some loader or package map or whatever. the point is that he most sensible default will reflect the fact that there's a *lot* of cjs out there, all with a js extension as the most defining feature of it and 2) there is no node-comparable (none at all!) esm out there because we're still sitting around here defining it. given those two bits of information and that "js" is a

[2018-06-30 16:03] bmeck commented on #142
This is separate from web compatibility, feel free to bring it up in a different issue unless it has a concern related to being unable to create modules for both platforms.

[2018-06-30 17:51] GeoffreyBooth commented on #142
So over in my neck of the woods at CoffeeScript, people are often asking for new features that require new syntax. And pretty much since 2015 the answer has always been, well, _maybe,_ if we think it’s really really safe that the ECMA committee won’t claim that syntax in JavaScript for something else. The biggest [example](https://coffeescript.org/#breaking-changes-default-values) of something lik

[2018-06-30 17:59] ljharb commented on #142
That simply doesn’t work well in node - some files are c++ (.node), some json, some will be wasm, etc. Browsers similarly won’t be differentiating by extension - i presume they’ll differentiate by mime type. Node has extensions to convey that information, since there’s no http server.

[2018-06-30 18:06] GeoffreyBooth commented on #142
MIME types are set by web servers based on extensions. There’s no difference between Node loading `.mjs` as a JavaScript module in ESM mode based on the extension `.mjs`, and a browser loading an URL ending in `.mjs` as a JavaScript module in ESM mode because the webserver served it as `text/javascript` because it had the extension `.mjs`.

Webservers wouldn’t serve `.node` files with a `text/java

[2018-06-30 18:07] zenparsing commented on #142
@ljharb To clarify, the suggestion is that node's default loader would use the extensions ".js/.mjs", ".node", ".json", ".wasm", etc. to know what to do, but `import "./x.js"` would import ESM.

If you want `import "./x.js"` to perform CommonJS-to-ESM transformation, you'd have to opt-in to that.

We'll need to prove out that this will work, of course. Given tools like "esm" however, I'm pretty co

[2018-06-30 18:11] zenparsing commented on #142
Perhaps due to a personality quirk, I don't find those considerations convincing in the least. Also, a lot has changed in these 3 years. As far as I can tell, the community has more or less figured this out for us: they are authoring in ESM, dual publishing, using ".js", and using `package.json:module`.

[2018-06-30 18:45] bmeck commented on #142
The same is true for loading `.js` files as `application/node` which is also an officially recognized MIME for `.js`. You can't try to occupy both sides of this argument when `.js` has multiple MIMEs that are proof of it being a poor choice for anything seeking to unambiguous.

This gets more complicated as we scale JS to more goals.

* REPL
* MultiModule
* [Strong Mode recently](https://twitter.c

[2018-06-30 22:40] GeoffreyBooth commented on #142
I don’t see why this is an argument that we should deviate from how browsers work. Browsers `import` anything with a JavaScript MIME type as ESM. Node should `import` any file with a file extension that maps to a JavaScript MIME type as ESM. It’s that simple.

Node has to deal with other types of imports that browsers don’t. Fine. That doesn’t mean we need to overload the `import` statement to do

[2018-06-30 23:15] devsnek commented on #142
.js is also associated with application/node according to IANA and we are Node.js...

[2018-06-30 23:40] ljharb commented on #142
.js means CJS in node, and realistically always will, no matter what decisions we make and what *other* things it might mean.

[2018-07-01 00:28] GeoffreyBooth commented on #142
Yes. So name your ESM files with `.mjs`. Nothing about what I’ve said above says you can’t or shouldn’t.

I did a little test, along the lines of what @bmeck did above. I used [this gist](https://gist.github.com/aolde/8104861) to run a local webserver in the repo of my [demo](https://github.com/GeoffreyBooth/browser-equivalence-edge-case), and I edited line 11 to give `.js` a MIME type of `applica

[2018-07-01 01:46] demurgos commented on #142
@GeoffreyBooth

The issue here is that browsers do not have a legacy module system. For each entry point, it is either a self-contained or a dependency graph containing only ESM. The push-back against conforming to browsers is in part due to the following identified features:

There are other issues to discuss what "transparent" means, but there's at least consensus that it should involve an agnos

[2018-07-01 02:17] zenparsing commented on #142
Sure, but that's just one aspect. There's also the fact that `import "cjs"` in general gives a fundamentally broken user experience because of the lack of named imports. And the fact that `import "./cjs.js"` effectively (but unnecessarily) mandates ".mjs".

I agree that we've probably exhausted the conversation at this point. I think those of us that want to explore a minmax solution should contin

[2018-07-01 04:41] #144 closed

[2018-07-01 04:51] ljharb commented on #142
I don’t agree that it’s fundamentally broken. It’s just surprising for babel users - who browser folks, and browser compat/“no build process” advocates, keep reminding us are not the majority of javascript developers - nor even the majority of node developers, i suspect.

[2018-07-01 05:32] zenparsing commented on #142
That's fair, I'll take surprising :)

[2018-07-02 09:29] WebReflection commented on #141
FWIW, since it's actually super trivial to have `filename` and `dirname` in both node.js and browsers, I agree exposing those anyhow is unnecessary.

[code]

that's already a cross env KISS approach.

[2018-07-02 10:49] demurgos commented on #141
@WebReflection
Just to be sure, is it completely equivalent? What about some edge-cases such as Windows absolute paths or url-encoded parts in the filename? I remember seeing another expression to compute these from `import.meta.url` but it looked more complicated (I was not able to retrieve it).

[2018-07-02 11:05] WebReflection commented on #141
AFAIK the `import.meta.url` is normalized in Windows too, since `file://` urls are already accepted there, and since nobody ever bothered in node.js to `require(window ? "..\\file" : "../file")` I don't think there's any risk.

Of course, if you create folders or file names with encoded slashes maybe you are doing something wrong but yet, passed encoded, should be rightly understood via the `URL`.

[2018-07-02 11:23] guybedford commented on #141
Note the exact conversion from url to path requires (as detailed in
https://github.com/nodejs/modules/issues/121):

* decodeURI to be called
* the leading path separator to be removed in windows (/c:/ is how the
pathname starts)

The above are common oversights everyone makes in assuming this which means
users will too.

As a result, supporting eg Chinese characters in module paths or supporting
w

[2018-07-02 11:44] WebReflection commented on #121
I wonder if as cross env solution this would work too:
[code]

[2018-07-02 14:31] bmeck commented on #142
@demurgos

My main complaint with this presentation of one side of the argument is that it isn't encompassing all of the compatibility problems. Often people discussing web compatibility focus on one specific issue and I think it is because they are seeking a specific outcome. In particular, they focus on MIME DBs used in file servers, under the assumption that MIME DBs are non-configurable by def

[2018-07-02 15:18] GeoffreyBooth commented on #142
Concerning valid JavaScript `import` statements executing _differently_ in Node and in browsers, it’s not just the one [example](https://github.com/GeoffreyBooth/browser-equivalence-edge-case) we’ve been discussing above, where `import './file.js'` pulls in a file as Script/sloppy mode in Node `--experimental-modules` and as module/strict mode in Chrome. There’s also:

- Browsers are [working towa

[2018-07-02 15:24] ljharb commented on #142
The language spec specifically indicates that import specifier are indeed such a blank slate; and browsers are standardizing on it *for browsers*. It is totally fine for node to have different meanings for them - especially if package name maps allows node users to configure browsers to *match node’s algorithm* - that’s the path we should be focusing on, imo: making browsers more like node where p

[2018-07-02 15:53] bmeck commented on #142
It actually is much worse than this. Even if you do HTTP redirects you will be generating separate module records in the client. You have to completely intercept `import` and redirect using a complex handshake like in https://github.com/bmeck/esm-http-server . The capabilities of the browser make it significantly hard for even a smart server to handle aliasing, which makes any form of indirection

[2018-07-02 16:31] zenparsing commented on #142
I think we've zeroed in on the primary pivot point:

- Whether automatic CommonJS-to-ESM transformation should be opt-in or opt-out.
- And if it's opt-in, the whether that choice applies to all module paths or only across package boundaries.

The advantage of **opt-out** is that we get immediate interoperability with CJS code. The disadvantages are:

- If we automatically transform at the file lev

[2018-07-02 17:09] bmeck commented on #142
I agree this is a major point, but also think this encompasses a different topic that identification of if a `.js` file is `application/node`.

I'd add a point on disambiguation:

* Whether of `.js` files are identified as `text/javascript` or `application/node`

Even if we identify a file as `application/node` we could prevent creating a facade for them and error out by default.

We can narrow th

[2018-07-02 17:43] zenparsing commented on #141
@MylesBorins

I've made the following tweaks [here](https://github.com/zenparsing/node/tree/esm-kernel)  ([comparison](https://github.com/zenparsing/node/compare/bb83364...zenparsing:esm-kernel)):

- Removed "no extension" error from lib and removed extension searching from `module_wrap`.
- Removed directory index searching from `module_wrap`.
- Modified package.json logic to use "module" key inst

[2018-07-02 18:11] ljharb commented on #142
It’s not lossy because CJS only ever has a single default export. Named exports from CJS, despite babel leading people to believe they should be there, are not actually a thing that conceptually exists.

[2018-07-02 18:15] zenparsing commented on #142
It's lossy from the point of view of the user that has been writing `import { x } from "lksjdf"` for the past 4 years. I myself have been guilty of this. I was honestly surprised (and I was shocked that I was surprised) by the lack of support for named imports.

[2018-07-02 18:17] ljharb commented on #142
Yes - for a babel user. But not for a CJS user.

I do want named imports for CJS, but i think it is unproductive to characterize them as a necessity, or the lack of them as a loss. Having them is a bonus, is all.

[2018-07-02 18:40] zenparsing commented on #142
I wonder if that's a distinction without a difference in 2018?

I don't think it's unproductive to characterize the lack of named imports as a loss. Let's say that I starting a new project using native ESM, and let's assume that we do automatic CJS->ESM transformation on packages.

I start like this:

[code]

It works, and I'm happy. Then later, maybe in another file, I do this:

[code]

I think i

[2018-07-02 18:48] ljharb commented on #142
I'm not sure how it's different in the second scenario from "Either way, I feel like either 'some-package' or Node is somehow broken.". If you're going to assume that, you're going to assume that either way - and that means that all non-ESM packages would be instantly considered "broken" by many many people. That's a large burden to place on the ecosystem.

The other risk is that you'd read a bunc

[2018-07-02 18:50] bmeck commented on #142
And then it becomes ESM. The the library consumer must then update your dependency to the ESM package version. Since you can't have the `.js` file be both ESM and CJS we have to figure out a migration path and it will be breaking if anyone used deep file paths. The library consumer must change APIs to load the library from `import.meta.require` to `import` of some kind; so you break consumers anyw

[2018-07-02 19:01] zenparsing commented on #142
The difference, in my mind, is that instead of the situation being like "hey this should work but maybe it won't, who knows", the situation is like "here's the upgrade path, go forth and make it happen". Given a little bit of lead time, I think the ecosystem can adapt really quickly.

I think this point was really convincing a couple of years ago, but now I'm not so sure. ESM modules have won; I t

[2018-07-02 19:06] bmeck commented on #142
I don't think web compatibility is really what you are arguing when you argue about how surprises are reason to not ship support for a feature. You talk as if ESM has won, but are pointing to the fact that for years people have been using babel to compile to semantics of CJS. I don't think ESM has won so much as ESM syntax and static guarantees about their module graphs. All of those modules you a

[2018-07-03 05:03] GeoffreyBooth commented on #142
@bmeck With regards to your comments about having to deal with those other aspects of web compatibility: yes, those need to be discussed too. I feel like this issue is becoming a run-on thread, though, perhaps we should split these out into different discussions?

I had a few random thoughts in response to some of the above comments:

- I draw a distinction between code that _doesn’t_ execute in o

[2018-07-03 05:16] ljharb commented on #142
@GeoffreyBooth package name maps would presumably resolve to a final path - no extension lookup. Thus, import paths would continue to be best extensionless - node's default implementation would do the lookup, and the package name map used in the browser (or even if one was generated and used in node) would handle any possible extension lookup. I don't see a conflict say.

I don't think it's unreal

[2018-07-03 06:49] ljharb commented on #142
Yes, I'm saying node would, by default, have its own, internal resolution - but it would defer to a package name map if one was provided.

Creating a new function with `import.meta` is certainly an option, but that's hardly ergonomic.

It's not overloading the import statement, nor is it creating incompatibilities - it's precisely what `import` is *meant* for (to provide host-dependent resolution)

[2018-07-03 22:48] zenparsing commented on #141
Out of curiosity I tried to create a project to see what would happen if I tried to import `@angular/core` with native modules (since that package.json contains a "module" field).

Using the build described above, it failed to import the dependency graph because a sub-dependency was not using file extensions in their import specifiers. I modified the branch to add back extension guessing, and was

[2018-07-04 00:00] WebReflection commented on #141
I think sticking with standards here would help thought, because maybe this was a lucky case where the file extension was missing, who knows which module points at a folder instead.

These libraries/frameworks heavily rely on bundlers, not on out of the blue native import from node, so giving them a direction that both node.js and bundlers can easily follow (explicit `.js` file extension) seems wi

[2018-07-04 00:01] ljharb commented on #141
"use an extension in the specifier" is not a standard - in the JS spec, in browsers, or in node (neither is "omit the extension in the specifier"; that's just a community convention)

[2018-07-04 00:07] WebReflection commented on #141
it kinda is, since we need a package map to address unresolvable names that won't exist by any other means.

Don't call it standard, call it must-have default fallback then, which is the standard/default behavior.

[2018-07-04 00:08] ljharb commented on #141
There's nothing about a URL without an extension that makes it any more or less resolvable than a URL with one - browsers do not care about extensions, only the web server they make requests to, does (which sometimes will be node).

[2018-07-04 00:09] WebReflection commented on #141
this makes no sense the moment the solution is to guess extensions which has nothing to do with URL resolution. I also find it funny you tell me extensions are not important to bring in ESM.

[2018-07-04 00:21] devsnek commented on #141
@WebReflection when was the last time you want to a major website that has some form of ".html" on its landing page.

[2018-07-04 00:22] ljharb commented on #141
@WebReflection i'm pointing out that there's no "standard" compelling forced, or disallowed, extensions - the only thing that should be weighed here is community usage.

[2018-07-04 00:33] zenparsing commented on #141
I think the migration story is going to be more bumpy if packages that are already publishing ESM with "module" are required to update their specifiers to include the extension. I'm not sure that messaging will go over too well.

On the other hand, @WebReflection is correct that directory imports (found in ESM-published packaged) are still going to fail with this scheme. We would need some way to

[2018-07-04 00:37] WebReflection commented on #141
I surely don't want my web server to start randomly crawling folders in search of something when the URL is `www.fail.now/shenanigans`, which is my point: currently shipped ESM behavior is quite strict in being represented by fully qualified names, including extensions.

[2018-07-04 00:42] devsnek commented on #141
where is this behaviour? browsers are easily the largest shippers of this and in this context browsers don't have a concept of file extensions

[2018-07-04 00:48] WebReflection commented on #141
I have no interest in this conversation because I am **sure** everyone understood what I meant: currently shipped ESM uses file system (JSC, SpiderMonkey) or static files (Servers) to load fully qualified names: **no guessing around**, unless of course, you cause the guessing by your own, but that's unnecessary.

[2018-07-04 00:50] michael-ciniawsky commented on #141
@zenparsing It would be really appreciated if this could be made available behind `--experimental-modules` for the average Joe (like me :)) somehow to try it out and provide feedback.

Maybe leaving extension guessing etc in the first iteration? So ESM packages (like `d3, angular` etc) as of today may 'just work' ©️  (+ a warning that extensionless specfiers are under consideration to be removed i

[2018-07-04 00:54] ljharb commented on #141
@WebReflection this is how webservers already behave - if `shenigans` is a file, they serve it, if it's a directory, they look for `shenanigans/index.html` (or dot-something). Additionally, many will ensure you have a trailing slash (or no trailing slash), or other redirects.

The "guessing around" in currently-shipped ESM implementations is on the server-side - just like it is for all URL-based w

[2018-07-04 00:55] zenparsing commented on #141
@michael-ciniawsky

Absolutely! Perhaps @MylesBorins could merge my commits and provide an updated download link? 😺

[2018-07-04 00:57] WebReflection commented on #141
I don't want guessing in my server. guessing means crawling, mean degraded performance, means complexity. Which should I guess first, `file.wasm` or `file.mjs` or `file.js` or `file.json` ?

This whole thread is about an MVP for ESM in modules and guessing is **not** part of an MVP, IMO.

[2018-07-04 00:57] devsnek commented on #141
@WebReflection are you referring to the debug binaries for engines? I don't think we should be considering those at all... they just exist to test the engines.

[2018-07-04 01:00] ljharb commented on #141
Migration is a required part of an MVP, and imo that includes guessing. In other words, we disagree on what "minimum" and "viable" mean.

As for which you would guess first, that'd be easy - you'd follow the order of `require.extensions`, as does (and will) every resolution tool in the ecosystem.

[2018-07-04 01:05] WebReflection commented on #141
it's not even an Array and last one I have just checked is `.node` while I expect native extension (including `.wasm`) to have privileged meaning.

I also write ESM daily and I've never had any issue in specifying the bloody extension of a file name.

Bundlers solve that, good for them, but if you write ESM for real, you better write that extension or it wont natively work on browsers/server 'caus

[2018-07-04 01:12] devsnek commented on #141
package maps and bundling fix that. if you can somehow invalidate the existence of those then you have a point. no one expects have code written in node.js can be verbatim copied into a browser and just work beyond toy code and polyfills. idiomatic node lets you drop the file extension because what a package is written in is an implementation detail. we shouldn't give that up for misinformed brows

[2018-07-04 01:13] weswigham commented on #141
I'm pretty sure the `DirectoryIndex` command in a `.htaccess` file configures that in apache. Not sure what the equivalent is in IIS. Express's serve-static [has an option for it](https://expressjs.com/en/4x/api.html#express.static).

Implied extensions and a priority list therein are really common among webservers. You may have never reconfigured it yourself, be it's usually there.

[2018-07-04 03:33] ljharb commented on #141
Also cdnjs

[2018-07-04 04:54] GeoffreyBooth commented on #143
Are we meeting on July 4?

[2018-07-04 05:29] GeoffreyBooth commented on #142
The whole idea of `import` statements loading `.js` files as CommonJS and `.mjs` files as ESM, and this being both spec compliant and compatible with browsers, rests on this justification:

- There is no spec that governs how webservers should set the MIME types for the files they load. We see this in how most webservers are configurable in terms of what MIME types to use for each file extension,

[2018-07-04 08:29] WebReflection commented on #141
if you use those, you won't write fully qualified path up to the extension. If you have package maps you `import "module"`, you don't `import "./some/path/to/file"` omitting only the extension, so I keep saying there's no need to guess ever here, and it feels like many in here use bundlers and are solving problems that don't exist with bundlers.

Anyway, if you think omitting the extension is not

[2018-07-04 12:43] WebReflection commented on #141
@michael-ciniawsky it seems like we agree, or at least, I agree with everything written in that quote, and also JSC and SpiderMonkey already work like that (fully qualified names).

[2018-07-04 15:09] devsnek commented on #141
you keep saying this, but what does it mean. are you referring to the cli debuggers they maintain? the APIs built into the engines? I have no idea that that means.

[2018-07-04 16:14] GeoffreyBooth commented on #142
As I wrote, that registry only defines MIME types, as in, “if you see `application/javascript`, that’s JavaScript.” It assumes you’re starting with a MIME type, not asking what MIME type to use for a particular file extension. It doesn’t answer the question “what MIME type should I use for `.js`” and can’t, because there are multiple answers to that question depending on context. In the context of

[2018-07-04 16:17] ljharb commented on #142
Browsers ignore extensions entirely. Can we please stop saying that anything related to extensions is “standard behavior” in browsers?

In webservers, putting .js files *in script tags* is standard behavior. This means Script. The MIME type is imo also unrelated.

[2018-07-04 17:13] mhdawson commented on #143
I don't think Myles will be available either, as he has the same conflict as I do.

[2018-07-04 17:28] GeoffreyBooth commented on #142
@ljharb Browsers may ignore extensions, but webservers don’t. Webservers use extensions to choose the MIME type that browsers use to decide how to load a file. I explained this above in https://github.com/nodejs/modules/issues/142#issuecomment-402367472. Webservers also serve the files that browsers load via `import` statements, and that’s where MIME types matter. We’re not discussing `<script>` t

[2018-07-04 17:36] WebReflection commented on #141
[code]

you can try omitting part of the name (extensions are irrelevant, imports resolve the path though)
[code]

and see that `jsc -m entry.js` now produces an error
[code]

Both JSC< and SpiderMonkey, and browsers, uses out-of-the-box resolvable names, without any **guessing** involved, neither folder or extension crawling.

This is the meaning of (KISS) an MVP, imo.

[2018-07-04 17:42] devsnek commented on #141
so you are referring to the cli debuggers. those only exist to test functionality of the engines. i would request that you do not base any behaviour in node.js on those, as node isn't a debug utility - its a production runtime with millions of users. i'm also slightly upset about that as i'm currently working on some examples of module loading for V8/D8 and i would dislike if my work was misrepres

[2018-07-04 17:52] WebReflection commented on #141
@devsnek you are ignoring SpiderMonkey, powering GJS and others, where it's the exact same. I am telling you how engines that shipped ESM already work, and also how the browser work.

If you don't want to listen, it's not me misrepresenting anything, it's you not wanting to listen, sorry.

I think we have done with this discussion.

[2018-07-04 17:56] devsnek commented on #141
@WebReflection how GJS resolves stuff isn't specific to spidermonkey, but it is a better example of your point. i wish you had brought it up earlier :)

[2018-07-04 17:56] zenparsing commented on #141
I think we've probably reached the end of this line. I think we can all agree that file-extension searching is a web/node interop issue. On the other hand, we need to balance that against the need to provide a smooth transition path to native ESM modules on node. We can debate how to balance those concerns later when we have more feedback.

[2018-07-04 18:07] WebReflection commented on #141
GJS uses js52 here and js52 behaves **exactly** the same. Swap `jsc` with `js52` in previous example, omit the extension, then:

[code]

TL;DR I've used jsc 'cause I was on mac, not because it was anyhow more or less relevant to my point.

Also browsers do the exact same, they don't guess, they don't crawl, they ask one thing only (that might be changed by the map but that's another story, I have

[2018-07-04 18:19] devsnek commented on #141
@WebReflection they don't use the cli debugger though... they're using their own implementation of resolution and evaluation which you can read through here: https://gitlab.gnome.org/GNOME/gjs/blob/master/gjs/module.cpp

[2018-07-04 18:42] WebReflection commented on #141
it was brought up already months ago in the mailing list, which is why I keep saying we should keep it simple. GJS has live bindings but a completely different module system which, AFAIK, is going to be integrated with ESM.

Right now though, the import is limited and it will always add a `.js` extension, which is why it'd be lovely to keep it simple and have ESM with explicit extensions and let l

[2018-07-04 18:54] devsnek commented on #141
super cool if we didn't have 750,000 cjs modules that are still first-class citizens in the node ecosystem.

if everyone has to use a loader (and they will have to use a loader) then why not make it the default...

[2018-07-04 19:02] WebReflection commented on #141
those can be Brough in via `import.meta.require` which works like a charm in here already. Have you tried this MVC? I suggest you do.

However, loaders can solve that too 🎉

Nobody has to use a loader here. I've tested this and I didn't need any loader. Also my code wouldn't need any loader. Package maps, require when needed, pure ESM straight forward for everything else.

Who's using ESM today is

[2018-07-05 05:05] GeoffreyBooth commented on #142
We are discussing compatibility with webservers:

- https://github.com/nodejs/modules/issues/142#issuecomment-401557098
- https://github.com/nodejs/modules/issues/142#issuecomment-401575125
- https://github.com/nodejs/modules/issues/142#issuecomment-401825076
- https://github.com/nodejs/modules/issues/142#issuecomment-401840289
- https://github.com/nodejs/modules/issues/142#issuecomment-401850560

[2018-07-06 13:08] demurgos commented on #139
Hi,
I just want to update you that I'm still working on my PR but it may take a bit more time. I'm trying to go more in depth and comparing the existing proposals.

[2018-07-07 02:53] bmeck commented on #142
One of the reasons for my disagreement is a I don't see a differing `require()` and `import` context I only see a Node context. Having a single file differ based upon method of consumption is something I was arguing against above.

This is not the same information, the UMD wrapper is a well known method to feature detect the environment a Script is being run in and is compatible with multiple envi

[2018-07-07 03:08] ljharb commented on #142
I do not agree, because it is not how browsers operate - browsers ignore the file extension, and *require* an out of band mechanism (the “type” attribute on a script tag) to differentiate. node choosing the file extension as that mechanism is 100% compatible with browsers, and also with webservers that *already* use file extensions to differentiate file types.

[2018-07-07 20:05] ljharb commented on #143
Even though only 11 people have responded (12 including Myles), it seems like we should have the next meeting on July 11th at the usual time (with the following meeting on July 18th - ie, the usual schedule).

[2018-07-08 05:34] GeoffreyBooth commented on #142
Browsers aren’t really the issue here, webservers are. As discussed above, most (if not all) webservers will choose the same MIME type for both `.js` and `.mjs`, causing browsers to load both types of files as ESM; and this isn’t likely to change. This is the incompatibility with Node treating `.js` and `.mjs` as meaning different things, since the same is not true of most webservers.

So we at le

[2018-07-08 05:43] ljharb commented on #142
The concern isn't the MIME type, it's what script tag "type" they'll choose, since that's the mechanism the browsers use to determine how an entry point is loaded.

[2018-07-08 06:01] GeoffreyBooth commented on #142
The discussion above is around `import` statements that import `.js` files. We’re already in ESM mode, in both Node and browsers, to be able to run an `import` statement at all; the `type` attribute isn’t relevant by that point. The incompatibility is that an `import` statement of a `.js` file will load the file as CommonJS/Script in Node `--experimental-modules` and as ESM/Module in browsers (as

[2018-07-08 06:03] ljharb commented on #142
Yes, of course - but you're assuming no build process. Before anything gets to the browser, the files can easily have been preprocessed to do the right thing.

[2018-07-08 08:57] GeoffreyBooth commented on #142
Let me also respond to some of @bmeck’s points:

I think I’m finally starting to understand where you’re coming from. I suppose that under the hood, Node’s implementation of loading files probably shares a lot of code in common between `import` and `require`, so I can see why as a Node developer you’d see them as nearly equivalent; but from my perspective as a user they’re very different. As a use

[2018-07-08 13:15] bmeck commented on #142
They actually share very little code, this is coming from someone who has been authoring both ESM and CJS in my Node applications. Having a file of unknown format is problematic, for tooling, dealing with issues around teaching, defensive programming, etc.

My expectation as an author is that my file doesn't get interpreted in different ways than what I intended it to be interpreted as. That appli

[2018-07-08 14:41] GeoffreyBooth commented on #142
WHATWG [could have](https://github.com/whatwg/html/issues/558) required a new MIME type (and therefore, a new file extension) for ESM JavaScript—but they didn’t. WHATWG settled on using `text/javascript` for both Script and Module JavaScript. The fact that [their spec uses `.js` in its examples](https://html.spec.whatwg.org/multipage/webappapis.html#integration-with-the-javascript-module-system) i

[2018-07-08 15:30] ljharb commented on #142
That’s not the case on the web because browsers made a mistake. We don’t have to repeat their mistake, nor would correcting it cause an incompatibility.

[2018-07-08 15:51] bmeck commented on #142
That would not have helped, `<script>` without `type=module` would have still loaded whatever MIME they chose as Script because it has never checked MIMEs. You would still have ambiguity because Script would always be possible.

I'm not sure I understand this point, the web lets you specify how it should be parsed via `content-type` HTTP headers.

[2018-07-08 16:01] GeoffreyBooth commented on #142
The idea that an individual JavaScript file needs to control its own parse goal, I mean, is the source of the incompatibility. The Web treats both `.js` and `.mjs` files as `text/javascript`, and both Script and Module `.js` files as `text/javascript`, and so therefore the Web simply lacks the concept of author-specified unambiguity. All disambiguation happens on the consumer side.

[2018-07-08 16:05] bmeck commented on #142
@GeoffreyBooth and the argument is that we need to preserve this because? To my knowledge the plan is to completely replace the need for `<script>` with `type=module` alternatives. Is there an exact concern about what the problem is with disambiguating things?

In particular `<script>` never paying attention to MIME is precisely why things like WASM won't work with it. That isn't a good path to tr

[2018-07-08 16:51] ljharb commented on #142
@GeoffreyBooth do coffeescript users type coffeescript in .js files, or in .coffee files? Is everything required or imported from coffeescript parsed as coffeescript?

[2018-07-08 17:36] GeoffreyBooth commented on #142
WASM is served by webservers as `application/wasm`, so it doesn’t have the issue that JavaScript Script vs Module has. In WASM’s case, they _did_ choose a new MIME type to represent the new file. And maybe WASM won’t be importable from a `<script>` tag, but I would think it would be importable via `<script type="module">import './app.wasm';</script>`.

Because otherwise we have a major incompatibi

[2018-07-08 18:12] ljharb commented on #142
The paragraph you quoted also means that node doesn't need to have its choices constrained by browsers' standards body.

[2018-07-09 13:54] bmeck commented on #142
Indeed this is part of why having ambiguity is problematic. I can create a file:

[code]

serve it with `application/wasm` and it still runs in a `<script>` tag as a Script. Your point about serving Script as `text/javascript` doesn't apply to anything because no means of loading that check `text/javascript` load as a Script. I was trying to point out if there is a claim of ambiguity around `text/

[2018-07-09 14:27] demurgos opened #146 "MIME types"
Hi,
I want to open an issue dedicated to MIME types. MIME types are mentioned fairly often in the issue https://github.com/nodejs/modules/issues/142 but their relevance is not entirely clear for me. Since the other issue is already extremely long, I prefer to open a separate issue.

I would like a clarification about the relation between MIME types, ESM and Node.

Here is what I currently understa

[2018-07-09 16:11] GeoffreyBooth commented on #142
If there’s a way to have Node treat `.js` files as ESM, yes, the incompatibility goes away. Then the question becomes how that should be implemented, and whether or when it should be the default. This feels like a great stopping point to shift that discussion into a new thread.

[2018-07-09 18:08] ljharb commented on #142
If there's a way for node to treat `.js` files as ESM, shouldn't there be a way to treat `.js` files as WASM, and `.wasm` files as CJS, and `.anything` files as "anything"? (i realize this may come off as a sarcastic question, but it's a genuine one)

[2018-07-09 18:50] demurgos commented on #146
Thank you for your answer, it clarified a few things for me.

Is it right to go further and say that in absence of any other information (context, parsing), `text/javascript` is the best fallback MIME type for `.js` files? (some sort of `application/octet-stream` for JS)

---

Thanks for the explanation about `<script>`, I felt that it was not as simple as what I had written but it was more a lack

[2018-07-09 18:59] bmeck commented on #146
Probably can't make any assumption here. Both `application/node` and `text/javascript` have significant meanings in different contexts. Neither is "better" since it is just about what the more common one is in a given context. For Node, `.js` has always meant `application/node` so it probably would be the more appropriate default. For browsers, they cannot load `application/node` so it doesn't mak

[2018-07-09 20:24] mathiasbynens commented on #142
The HTML Standard uses both `.mjs` and `.js` in its examples for module scripts, as well as URLs without a extension or ending with `.cgi`. This matches reality where on the web, file extensions don’t matter at all to user agents; HTTP headers do.

But how does one decide which HTTP headers to send out? In practice, it happens based on the file extension as opposed to on a file-by-file basis. In g

[2018-07-09 20:41] ljharb commented on #146
The webserver also often needs to know, programmatically (as does many other tools), what it is, so that it can add `type="module"` or not, or lint it, or which AST to parse it to, etc.

[2018-07-09 21:05] bmeck commented on #146
@GeoffreyBooth you can setup custom `content-type` headers in the various CDNs and storage services across a variety of platforms:

* https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html
* https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-properties
* https://cloud.google.com/storage/docs/json_api/v1/objects/insert
...

Most CDNs also allow uploads directly or throug

[2018-07-09 22:08] MylesBorins commented on #141
I've updated my MVP branch based on some comments in this thread (updating original post as well).

Changes include

* fix to import.meta.require for `node_modules` as found by @zenparsing
* no longer enforcing extensions. Changes have been made to the resolution algorithm to no longer resolve extensions or directories for local modules.

Repo: https://github.com/MylesBorins/node/tree/esm-kernel

[2018-07-09 22:18] MylesBorins commented on #51
@bmeck has brought up concerns about this proposal over in https://github.com/nodejs/node/pull/21729

Putting this back on the agenda so we can discuss. We can also do so in the issue

[2018-07-10 07:31] WebReflection commented on #141
@MylesBorins it looks like you dropped the need for the extension but you haven't put in the option to enforce ESM so that now we have ambiguity.

`./module not found by import in ./index.mjs. Legacy behavior in require() would have found it at ./module.js`

If I start from `index.mjs` and import from `./module.js`, which is a perfectly valid ESM file, everything is OK. If I now import from `./mod

[2018-07-10 07:36] GeoffreyBooth commented on #141
Besides the above reasons, we need a CLI flag to enable ESM mode so that code like this works:

[code]

[2018-07-10 08:19] WebReflection commented on #141
FWIW, other CLI uses `--module` shortcut'd as `-m` to force-enable ESM over JS.

Since other extensions don't really need any enforcement and have no differences between ESM env or not, I wonder what's stopping node to add such flag.

[2018-07-10 11:30] demurgos commented on #143
@SMotaal
The usual time is UTC 19:00 (07:00 PM), convert it to your own time zone.

[2018-07-10 22:08] MylesBorins opened #148 "Node.js Foundation Modules Team Meeting 2018-07-11"
## Time

**UTC Tue 11-Jul-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 11-Jul-2018 12:00 (12:00 PM) |
| US / Mountain | Wed 11-Jul-2018 13:00 (01:00 PM) |
| US / Central  | Wed 11-Jul-2018 14:00 (02:00 PM) |
| US / Eastern  | Wed 11-Jul-2018 15:00 (03:00 PM) |
| London        | Wed 11-Jul-2018 20:00 (08:00 PM) |

[2018-07-10 22:11] jdalton commented on #148
Is this today? It's already past 12:00 PM on Tues US Pacific.

[2018-07-10 22:38] ljharb commented on #143
#148 has the new meeting info (altho the date is currently wrong, should be the 11th not the 10th)

[2018-07-10 22:38] #143 closed

[2018-07-11 05:10] MylesBorins commented on #148
Bah i generated the date wrong... SORRRY 😅

[2018-07-11 05:31] GeoffreyBooth opened #149 "Web compatibility and ESM in .js files"
This issue is a summary of a discussion starting at https://github.com/nodejs/modules/issues/142#issuecomment-401526955. There was a lot of debate on that thread; if you’d like to comment, please do so over [there](https://github.com/nodejs/modules/issues/142). The point of this issue is only to serve as a neutral document of the issue discussed in that thread. There’s also a separate [thread](htt

[2018-07-11 05:37] devsnek commented on #149
Why are we discussing solutions to something we haven't agreed is a problem?

[2018-07-11 05:38] GeoffreyBooth commented on #149
https://github.com/GeoffreyBooth/modules/blob/85f0bffde459f82e1603a149d60d2ca7bec4105d/proposals/esm-in-js-files.md#do-nothing

[2018-07-11 05:41] devsnek commented on #149
No. That's a red herring. If we agree it's a problem, then the logical progression would be to find a solution. If we don't agree it's a problem, then we do nothing.

[2018-07-11 07:18] #78 closed

[2018-07-11 07:19] MylesBorins commented on #42
Closing as I feel we have consensus on this

[2018-07-11 07:19] #42 closed

[2018-07-11 07:20] MylesBorins commented on #43
This is now defined 🎉

[2018-07-11 07:20] #43 closed

[2018-07-11 07:28] demurgos commented on #146
I am closing this issue because I feel that the MIME types situation was clarified. You can still comment if you want to.

[2018-07-11 07:28] #146 closed

[2018-07-11 11:29] inidaname commented on #148
@robpalme +1 on the England game :smile:, may not have my full attention
but will try to attend to make quorum

On Wed, Jul 11, 2018 at 6:25 AM Rob Palmer <notifications@github.com> wrote:

[2018-07-11 18:02] DanielRosenwasser commented on #148
I don't think I'll be able to make it. Wesley also seems to be out.

[2018-07-11 18:58] SMotaal commented on #148
The link shows a "webinar expired" error (I don't think it's  the usual for our recurring but not currently ongoing meeting)

[2018-07-11 19:01] SMotaal commented on #148
Zoom app says the meeting has a problem `Error code 3038`

[2018-07-11 19:03] ljharb commented on #148
Seems to be fixed; try again

[2018-07-11 19:03] MylesBorins commented on #148
Small technical difficulties due to double booked meeting times, give me 2 minutes to sort out

[2018-07-11 19:07] demurgos commented on #148
Could you post the Youtube link once available?

[2018-07-11 19:07] MylesBorins commented on #148
Fixed, please try again

[2018-07-11 19:21] Fishrock123 commented on #148
This meeting was not on the calendar.

[2018-07-11 19:34] benjamingr commented on #148
Not able to join, sorry

[2018-07-11 21:37] GeoffreyBooth commented on #148
@MylesBorins I would find it useful to have a joint meeting between our group and the team working on package name maps, which I think is by some Googlers? Would you like to invite them to a future meeting? Maybe not next week, but some meeting thereafter?

[2018-07-11 21:37] mhdawson commented on #148
Just a comment that the meeting was not in the Foundation Caldendar, probably because it was not at the regularly scheduled time.

[2018-07-12 02:04] GeoffreyBooth opened #151 "Feature: ESM in .js files"
There needs to be a way to tell Node to treat `.js` files as ESM JavaScript.

Besides the issue raised in [#149](https://github.com/nodejs/modules/issues/149), there’s the use case of legacy build tools and pipelines that expect only a single file extension for JavaScript. I can give a concrete example for the case of CoffeeScript. The problem is that essentially, the CoffeeScript compiler is a st

[2018-07-12 02:24] bmeck commented on #151
I think this is an interesting and exciting development. It is showing a place where there is no meta-data channel for the ecosystem affected. By being a String only input/output it isn't trying to make claims that the use case needs to be solved within Coffeescript because it simply has no place to put the data.

This feature also has an interesting approach taken in this issue since it isn't try

[2018-07-12 08:44] WebReflection commented on #151
If I can add a use case nobody apparently ever mentioned, node as binary should be able to run as ESM too, same way evaluated code could run as ESM.

There is no extension in binary files, just a _she-bang_ on top, and an executable file.

This is the past:
[code]

This should be allowed in the future:
[code]

[2018-07-12 12:13] bmeck commented on #151
@WebReflection that is quite a different issue, the problem for Coffeescript is that it doesn't involve itself in execution so it is a String->String transformation so it doesn't have involvement in execution. In addition, it isn't setting the input or output format. Therefore it needs an out of band mechanism that isn't done during execution and is out of band of the output. You can feel free to

[2018-07-12 13:01] WebReflection commented on #151
which one of these various places runs NodeJS 10 or above ?

It's the same need to enforce ESM for a case that would ignore file extensions, not sure how this can be different.

However, imagine I have an executable called `esm` that needs node to work as ESM for the provided file, so instead of that problem you mention, you have `#!/usr/bin/env esm` and the issue is identical with eval or string

[2018-07-12 13:12] targos commented on #151
@WebReflection Linux shells

[2018-07-12 13:20] WebReflection commented on #151
haha, how embarrassing, I'm a Linux user and indeed it just failed, I guess I've never tried.

Forget about `-m` on the shebang, the `#!/usr/bin/env esm` where esm wants to run the executable as ESM is the use case I had in mind, if this makes it a more suitable use case to consider.

Call it `#!/usr/bin/env mjs` if you prefer, I am sure you got the point.

[2018-07-12 13:29] targos commented on #151
Sure, I got your point but I agree with @bmeck that how to interpret extension-less entry points probably deserves its own issue.

[2018-07-12 13:42] WebReflection opened #152 "Feature: ESM in executable files"
Coming from this comment: https://github.com/nodejs/modules/issues/151#issuecomment-404437493

It is now possible to create executable, extension-less, files:

[code]

But it's not possible to enable ESM as parsing goal.
[code]

Even if there are OS incapable to parse the whole shebang up to the `-m` flag (or whatever flag will land in nodejs), there is no way to even define an executable that wou

[2018-07-12 13:42] WebReflection commented on #151
@targos fair enough: https://github.com/nodejs/node/issues/49444

[2018-07-12 14:00] bmeck commented on #152
There are a variety of solutions we should probably evaluate and see if they are or are not feasible that I can think of.

Right now we can point executables without extensions to other files using symlinks. I'm not curious about what file extension maps to what format, but I am curious about if that disambiguation and/or indirection method is infeasible. I'd be curious about places that cannot su

[2018-07-12 14:04] bmeck commented on #152
Forgot to add, that even though Loaders are not configurable, they could be done in a [per package manner](https://github.com/nodejs/node/issues/18233) for things that are not installed using `"bin"` from `package.json` approaches.

[2018-07-12 14:16] WebReflection commented on #152
Not sure I follow, but I've used Linux in pretty much every dev/production env I know and written dunno how many binary files based on the hashbang `#!/usr/bin/env node`.

NodeJS ignores hashbang too since ever because it's been a valid use case for long time so it shouldn't probably be under discussion the ability to create nodejs executable based on ESM, but I hope I've misunderstood your reply.

[2018-07-12 14:30] bmeck commented on #152
@WebReflection that is executing the `node` executable as the shell that invoked the file parsed the hashbang. My concern is around using flags within the hashbang or any form of parameter parsing beyond declaration of the executable. Even then, the declaration of the executable through the hashbang is picked up by the shell and not `node` itself.

[2018-07-12 14:42] WebReflection commented on #152
then I misunderstood, and indeed since it doesn't work in the only env I've used it (Linux) I guess we would need a better way.

I don't have ideas for now but I'll keep thinking about it.

[2018-07-15 09:03] xtuc commented on #152
If we want to avoid passing parameters in the shebang, we could create an excutable wrapper that passes them (`nodem`, `node-m`).

From my point of view that would be confusing for people used to run node.

[2018-07-15 11:12] guybedford commented on #152
This is one of the benefits of the package.json "mode" proposal in that it can allow this scenario to be handled clearly (when executing the "bin", the package.json is loaded and used as source-of-truth of the format).

@xtuc's suggestion is an interesting alternative here too, although agreed being weary of adding to confusion.

[2018-07-16 05:13] GeoffreyBooth commented on #152
Don’t forget the case where the extensionless file is outside the package folder, e.g. `/usr/local/bin`. For example, when CoffeeScript is installed globally, e.g. `npm install --global coffeescript`, it puts a symlink `/usr/local/bin/coffee` that points to `/usr/local/lib/node_modules/coffeescript/bin/coffee` (on Mac/Linux systems, anyway). Maybe in the case of followed symlinks Node can look for

[2018-07-16 05:15] devsnek commented on #152
node by default uses the extension of the resolved file, not the symlink e.g. `file.json -> file.js` is seen as cjs not json

[2018-07-17 08:52] WebReflection commented on #152
FWIW @xtuc suggestion is exact equivalent of my `./esm` binary with content:

[code]

This is a pragmatic solution to the shebang gotcha but it feels future hostile needing that to have an executable based on modern code so unfortunately we might need a better idea than just an indirection 😢

[2018-07-17 12:39] thecodingdude opened #153 "Proposal for a iteration plan and endgame"
Hi guys - as a regular NodeJS user and somebody interested in ESM in Node, I applaud the work that has so far been done in attempting to get ESM into Node. This has discussed as far back as [2012](http://blog.izs.me/post/25906678790/on-es-6-modules) so it's great to see some traction in getting this to Node stable, although I still have some concerns.

@MylesBorins in the last meeting said "as a g

[2018-07-17 14:01] bmeck commented on #153
@thecodingdude I have been thinking about this for a while, I think a minimal implementation is rather difficult on its own right due to so many pieces being controversial since this basically touches the entire ecosystem. I'd note that a truly minimal implementation without any controversial bits might be much less usable to the point of it not being a suitable target for a variety of use cases.

[2018-07-17 14:16] weswigham commented on #153
Something that can't see wide use because it ignores the existing ecosystem is as bad as not shipping it or forking the runtime - especially if it's introduction will cause painful questions and scenarios for the foreseeable future. _Avoiding that_ is, IMO, higher priority.

I'm not sure of those process elements help here. The first assumes we have a backlog of tasks from which we're choosing whe

[2018-07-17 16:55] bmeck commented on #152
@WebReflection whats wrong with the symlink indirection that most things do today?

[2018-07-17 17:01] WebReflection commented on #152
@bmeck if I understand correctly that would require a `package.json` somewhere else, right? In AUR (or other packaging formats different from npm) that might not be easy/straight forward to implement.

I just think everything is possible today with `#!/usr/bin/env node` should be possible by writing ESM like code too, without extra needs or hidden dependencies.

[2018-07-17 17:03] bmeck commented on #152
@WebReflection it would rely on some file that it points to being unambiguous, yea. Not necessarily using `package.json`, could be a file extension, etc.

[2018-07-17 17:04] bmeck commented on #152
I think this is where all of these are breaking down. Perhaps, the way that things are done today doesn't scale well, even at 2 possibilities we are seeing problems unless we define a different mechanism than today. Wait for BinaryAST and WASM entrypoints and we have 4 possibilities.

[2018-07-17 17:12] WebReflection commented on #152
@bmeck I don't think anything else different from JS would have the same issue for the simple reason I don't think WASM would allow a shebang on top, right?

Anyway, I forgot I have [some hackery to start GJS](https://github.com/cgjs/cgjs/blob/master/packages/cgjs/cg.js) so that this would be my solution:

[code]

### Explanation
  * the shebang is the most widely compatible one
  * in bash, Funct

[2018-07-17 17:22] bmeck commented on #152
I think you are over focusing on a hashbang based solution. Hashbang doesn't work for a variety of cases or at all on some deployment targets like windows. I'd be wary of things that can vary per shell and aren't even in some environments.

[2018-07-17 17:29] WebReflection commented on #152
even better, you could use my technique both via npm and as a stand alone file/application, so I don't see any reason to ignore it as use case/solution.

[2018-07-17 19:42] thecodingdude commented on #153
Organisation is never a bad thing - coming into this repo it's _impossible_ to tell what exactly is going on here. I've been following for _months_ and I have absolutely no idea what has been achieved because it appears nobody is keeping track, [this](https://github.com/nodejs/modules/issues/119#issuecomment-395202322) 'random' comment is the only thing I've found that actually lists everything th

[2018-07-17 21:54] weswigham commented on #153
We were in the process of producing such a document when some members decided it would be easier to put their opinions down into an implementation example rather than hash out such a document without example. We'd only recently finished enumerating and elaborating all of the usecases that had come forward (which there _is_ an issue and document tracking).

[2018-07-17 23:59] MylesBorins opened #154 "Node.js Foundation Modules Team Meeting 2018-07-18"
## Time

**UTC Wed 18-Jul-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 18-Jul-2018 12:00 (12:00 PM) |
| US / Mountain | Wed 18-Jul-2018 13:00 (01:00 PM) |
| US / Central  | Wed 18-Jul-2018 14:00 (02:00 PM) |
| US / Eastern  | Wed 18-Jul-2018 15:00 (03:00 PM) |
| London        | Wed 18-Jul-2018 20:00 (08:00 PM) |

[2018-07-18 08:05] guybedford commented on #105
This sounds to me more like an issue of "importing a dependency without needing to know the module type" than gradual migration of source text goals, which already seems to be tracked in #99.

I'd like to propose changing the name to "Format-independent imports" or similar, including in the README reference.

[2018-07-18 08:21] demurgos commented on #105
:bike: :house: I like the name "Consumer agnostic import" defined in one of the terminology Google docs. I feel that it better put emphasis on the fact the consumer does not know the module type of the dependency.

Consumer agnostic imports may be supported at different levels (roughly ordered by "strength"): simple bare specifiers (package main), intra-package, extra-package deep imports. Some pr

[2018-07-18 08:32] guybedford commented on #133
I'd like to mark this as a duplicate of #107. I think it's clear that like Node we will follow the browser where necessary, and I think this is a fundamental requirement for #107 anyway.

[2018-07-18 08:34] guybedford commented on #133
Otherwise we could do this the other way around, and add to this feature "including the ability to have code that runs in both environments without a build".

[2018-07-18 08:37] guybedford commented on #114
I think this seems like a subfeature of #116 at this point to me. Let me know if I'm missing anything here.

[2018-07-18 08:43] guybedford opened #157 "Feature: Ability to run resolver from within a module"
There is no feature currently tracking this, so I'm creating this and immediately closing so that we can have a reference for the features document.

The use case here is being able to resolve a module specifier from within a module context.

Current usage in Node.js is `require.resolve('asdf')`.

[2018-07-18 08:43] #157 closed

[2018-07-18 08:46] guybedford commented on #154
I can offer to chair the meeting today.

[2018-07-18 08:49] guybedford commented on #104
This seems like a duplicate of #103 to me, as they both reference the same use case?

[2018-07-18 08:51] guybedford commented on #103
The feature for this could be seen as a "resolver spec" that dev tools can clearly follow (like with Node resolution currently), or it could be seen as a "resolver api".

This didn't seem clear to me that it was referring to a resolver API, so I created a new feature for that that is directly that feature (https://github.com/nodejs/modules/issues/157). Then lets let this track its original use cas

[2018-07-18 08:58] demurgos commented on #94
Could you define "multi-mode"?

Base on #93, "dual goal" would be:

(I believe it could also be reduced to "a module that can...." depending on the implementation)

This can work in two ways:
- There is a single file, and it can be treated as either an ES or CommonJS module. (support both `import "cjs"` and `require("esm")`)
- There are two files and the "right" file is picked based on the import

[2018-07-18 09:04] guybedford commented on #94
I don't understand what multi-mode means, but in my own usage of this terminology I've used it to exactly refer to "dual-goal" packages.

From a terminology perspective it seems important to be very clear here on meaning, and pick a term here so we can all be on the same page.

In terms of understanding this feature, the first point sounds like it is covered by the "support importing WASM" feature

[2018-07-18 09:07] guybedford commented on #94
(In terms of terminology, I could happily go with either "dual-goal packages" or "multi-mode packages" to refer to this feature, I just think it's important to pick one!)

[2018-07-18 09:13] guybedford commented on #94
In fact, #99 even seems like a duplicate of this same issue to me.

Perhaps the two features are:
1. Support packages consisting of both ESM and CJS internally.
2. Support loading a package as either ESM or CJS

(1) seems like it is covered by #99.
(2) may even be covered by "consumer agnostic imports".

Further suggestions re clarity here are welcome.

[2018-07-18 09:20] guybedford commented on #119
How about promoting this link into the RESOURCES.md file here, and treat it as a living document at this point? As we come to any resolutions on terms during discussions, it would be great to keep it updated.

Alternatively we could create it as a separate TERMINOLOGY.md now that we have a skeleton, and then require specific approval on the consensus around terminology.

[2018-07-18 09:31] Janpot commented on #153
a minimal solution might not be usable for many projects right away. But it might help in showing which issues early adopters have the most trouble with in attempting to migrate their stuff over. This in turn could help in prioritizing or preferring certain features over others. Maybe it could serve as a metric in the debate?

[2018-07-18 10:36] weswigham commented on #153
That might be true if the volume of work was high, but that's honestly not the issue (implementations are many right now). The slowdown is because of a bunch of apparently mutually exclusive features (mostly around cjs usage) and the process of selecting which among them are most important - that's what takes so long to reach consensus.

[2018-07-18 10:59] demurgos commented on #94
I definitely agree that there is an ambiguity here and that we need clear definitions: I also don't know what "multi-mode" means.
I started to work a bit on the terminology issue but did not get around finishing it. Glad that you're going over these issues and working on it.

At the moment, I consider the "dual-goal" feature to be better defined. The feature in this use case mixes many things: WAS

[2018-07-18 11:19] demurgos commented on #153
@Janpot
I agree with @weswigham's answer. I just want to add that these implementations can actually be tried if you really want to, Node stable even ships with a feature-gated implementation. They actually helped to gain some insight. But they are experimental and you should not rely on them. The fact that "--experimental-modules" is available **does not mean that it will continue to work this wa

[2018-07-18 11:37] demurgos commented on #103
From what I remember of the meeting discussions, this issue is specifically for humans working in their editor. This is not about programmatically retrieving the file, but allowing developers to look at a file and then know where to look for the imported file. It may be rephrased as "predictable import locations", "simple import algorithm" or "minimizing the number of indirections". (Avoiding to h

[2018-07-18 11:38] guybedford commented on #103
@demurgos completely agreed here, but this is still a duplicate of #104 under that interpretation (exactly the same use case number).

[2018-07-18 11:41] demurgos commented on #104
See https://github.com/nodejs/modules/issues/103#issuecomment-405901273

This issue is about getting programmatic access to metadata of other dependencies.
#103 is about human developers being able to reproduce the resolution algorithm.

[2018-07-18 11:44] guybedford commented on #104
@demurgos if you look at the original post of both, they come from the same use case. The exact text of the use case is copied in https://github.com/nodejs/modules/issues/104#issuecomment-390638078.

[2018-07-18 11:44] demurgos commented on #103
Agreed that both are similar, but I still think they serve a different purpose. I'm neutral on marking it as a duplicate.

[2018-07-18 16:05] GeoffreyBooth commented on #94
Agree with the previous post.

Reading terms like consumer agnostic import, I think to myself, of what? I almost feel like uses of the word “import” should be followed by “of X into Y,” like “consumer agnostic import of CommonJS into ESM.”

[2018-07-18 16:10] GeoffreyBooth commented on #114
The syntax part is identical, but the call-out of JSON is different. Perhaps “JSON can be imported into ESM” deserves its own feature.

[2018-07-18 16:16] GeoffreyBooth commented on #133
This is broader than #107, so that would be included in this one. But this feature is basically a meta-feature like spec compliance, that's so broad it could encompass almost anything. I think we should keep them both open, as the specific ask in #107 would get lost in here; but we need to keep this as a top priority feature in its own right.

[2018-07-18 17:36] GeoffreyBooth commented on #154
Can we please add a brief mention of #150? I don’t think we’ll have time to discuss it today, but I’d like to invite the group to comment on that thread if they haven’t already, so we can discuss it at the next meeting.

[2018-07-18 17:38] ljharb commented on #157
I’d love to see `import.meta.resolve` - and it’s the sort of thing the browser may even be willing to provide, or even the language itself.

[2018-07-18 18:41] guybedford commented on #154
@GeoffreyBooth we do have a very packed agenda, so I don't think we'll have time to include this for this meeting. It is definitely worth adding to the next meeting for further discussion though, and feel free to add the agenda label for next time.

[2018-07-18 18:58] mhdawson commented on #154
Seems like the link in the issue is either expired or the wrong one.  Looking into it.

[2018-07-18 19:05] demurgos commented on #154
Thanks for the link, I did not know there was a permanent "live" link. I always used the link with video ID that was available once the stream actually started. Could this link be added to the template of the agenda issue? It's pretty useful for those who want to simply listen to the meeting.

[2018-07-18 19:08] Fishrock123 commented on #130
Not allowing import declarations to load cjs seems like a very bad idea to me for many reasons that have been brought up already (especially by @bmeck).

[2018-07-18 19:31] demurgos commented on #51
@bmeck
In todays meeting you mentioned that package name maps can help resolving extensionless specifiers and that you have some examples.
I couldn't find it mentioned on the proposal's README. Could you share these examples?

[2018-07-18 20:09] bmeck commented on #51
@demurgos you can do creative things like (note that we are working with preliminary spec and things might change):

[code]

[code]

[2018-07-18 20:13] guybedford commented on #119
@SMotaal I wouldn't worry too much about trying to get this perfect, in fact I think the minimal document here is all we need to start. Would be great to see this in this repo so we can continue to track process on terminology discussions as we build consensus on this.

[2018-07-19 00:22] GeoffreyBooth commented on #130
They’re not necessarily exclusive. If you look at the `--experimental-modules` implementation, `import` statements of CommonJS files can’t do everything that traditional CommonJS `require` statements can do; you can do `const { shuffle } = require('underscore')`, for example (where `underscore` is CommonJS) while you can’t do `import { shuffle } from 'underscore'`. There are reasons we might want

[2018-07-19 01:11] GeoffreyBooth commented on #130
Perhaps that’s a bad example. Here’s a better one:

[code]
`import` statements may only appear at the top level.

[2018-07-19 01:15] devsnek commented on #130
@GeoffreyBooth iirc there is a proposal somewhere for static import statements in not-top-level places. (it might have also just been some brainstorming on irc, i can't remember)

[2018-07-19 08:11] demurgos commented on #119
[code]

I'd like to bring this discussion here because it's important to have a clear and agreed up term and definition for this concept.

I also commented on these line in another thread:

---

I consider the term "import" to be ambiguous because it depends on the context. I see two possible interpretations:
- **ES import**: A static `import` statement or dynamic `import()` as defined by the ES s

[2018-07-19 11:39] SMotaal commented on #153
I wonder if something like `nodex` can help mitigate expectations, if you use `nodex` your code is expected to at least break if you don't continuously keep up with upstream updates, your performance is expected to fluctuate, your uptime is more like sometimes-up-but-usually-down-time, your dependencies are more like what-the-fork... it's unlike the wow factor it's just an x factor.

Sometime sepa

[2018-07-19 14:02] ljharb commented on #153
That’s not how the ecosystem works in practice tho - some packages will require the new binary, and some users will then be forced to use it (this happened already with things like the harmony generators flag, for example).

[2018-07-19 20:47] Janpot commented on #153
That mindset not only "limits what can be released even under a flag", it downright excludes anything. And I would argue there's definitely a middle ground between that and "anything and everything should be shipped early and often". Only a Sith deals in absolutes 😄

[2018-07-19 21:04] SMotaal commented on #119
@guybedford I tried to not get this perfect, but I guess I am just that awesome 😜

Okay, I tried three different options because as it turns Github Flavoured Markdown (GFM) (and other mainstream flavours) do not have a commonly accepted syntax for definition list elements, including
`<dl>` Definition List, `<dt>` Definition Term, or `<dd>` Definition. This is nothing new except those are the major

[2018-07-19 22:15] demurgos commented on #119
What kind of "direction" do you have in mind?

---

I'd use headings the definition term. It creates anchors allowing to link directly to a definition.

[2018-07-19 22:46] SMotaal commented on #135
@Janpot I too was very eager for the next iteration of `--loader a` which I was thinking would look more like `--loader a --loader b --loader c`  because a can delegate to b or not, b to c, c to builtin, but the more I explore this the more I realize that compared to user land module loaders, a one-fits-all plugin system is really what would be required if node will take part in negotiating preced

[2018-07-19 23:33] devsnek commented on #135
@SMotaal for reference, here's the current design for "chaining" https://github.com/nodejs/node/pull/18914

[2018-07-20 00:06] SMotaal commented on #140
@bmeck Just say this... now that I explored new chaining ideas, I was wondering if the passed arguments should be stateful (like a miniature request object but not nearly as intense complicated)

[2018-07-22 15:36] mkay581 commented on #130
@devsnek I think you may be talking about https://github.com/tc39/proposal-dynamic-import?

[2018-07-22 15:39] devsnek commented on #130
@mkay581 no, I'm meant static import.

[2018-07-22 15:40] mkay581 commented on #130
Oh I'd be curious to know how that would be implemented. Do you have the link to the discussion/proposal?

[2018-07-24 01:58] GeoffreyBooth commented on #151
As a sort of side note, over the weekend I put together [this pull request](https://github.com/DevExpress/testcafe/pull/2651) to add CoffeeScript support to the testing framework TestCafe. I’m not sure why, but TestCafe parses the source code of all the test files it runs, and uses Babel to produce an AST from the code; and TestCafe searches the AST for fixtures and tests to run. TestCafe already

[2018-07-24 02:01] ljharb commented on #151
JavaScript, the Script goal, only will - the Module goal is something *else*, and their parser needs to add support for it. That's what takes time - the extension doesn't make it any harder (I'd guess it makes it easier for most implementations, if anything).

[2018-07-31 21:55] MylesBorins commented on #130
Removing from agenda for now, can be re added later

[2018-07-31 21:55] MylesBorins commented on #123
Removing from agenda for now, can be re added later

[2018-07-31 21:56] #148 closed

[2018-07-31 21:56] #154 closed

[2018-07-31 21:58] MylesBorins commented on #51
Removing from agenda for now, can be re-added

[2018-07-31 21:58] MylesBorins commented on #119
Removing from agenda as we can now discuss the PR

[2018-07-31 22:03] MylesBorins opened #161 "Node.js Foundation Modules Team Meeting 2018-08-01"
## Time

**UTC Wed 01-Aug-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 01-Aug-2018 12:00 (12:00 PM) |
| US / Mountain | Wed 01-Aug-2018 13:00 (01:00 PM) |
| US / Central  | Wed 01-Aug-2018 14:00 (02:00 PM) |
| US / Eastern  | Wed 01-Aug-2018 15:00 (03:00 PM) |
| London        | Wed 01-Aug-2018 20:00 (08:00 PM) |

[2018-07-31 22:41] GeoffreyBooth commented on #161
FYI #150 and #160 are connected, we should discuss them together.

[2018-08-01 19:43] MylesBorins opened #162 "Nominate @SMotaal as an active member"
They have been consistently involved in meetings and is leading the charge on getting terminology defined.

I'd like to nominate them as an active member in the group

[2018-08-01 19:47] targos commented on #162
+1

[2018-08-01 20:15] benjamingr commented on #162
+1

[2018-08-01 20:26] Fishrock123 commented on #161
Ok, I dug it up.  From the meeting, my note on the ancient TSC thing I brought up:

Here is the TSC meeting from February 2017 where I brought up concerns raised by folks that teach JavaScript:
https://github.com/nodejs/CTC/blob/master/meetings/2017-02-01.md (the minutes note is small)
The meeting recording link there is actually wrong, so here is the link with the correct timestamp for when I bri

[2018-08-02 03:37] GeoffreyBooth commented on #151
@mhdawson The [top post on this thread](https://github.com/nodejs/modules/issues/151#issue-340463837) is the use case we discussed in the meeting today. It looks like it _is_ pretty much written from an implementation-agnostic perspective, though it discusses implementations a little bit in the latter half when I suggest potential solutions for the problem posed in the first half. But if you’re lo

[2018-08-02 06:02] giltayar commented on #162
+1

[2018-08-02 22:40] mhdawson commented on #162
+1

[2018-08-02 22:43] devsnek commented on #162
:shipit:

[2018-08-08 08:18] robpalme commented on #138
In an effort to progress the original issue, I have made a [PR](https://github.com/nodejs/modules/pull/164) to define terms for interop across public package boundaries (***Agnostic Package Consumers***) vs the opposite (***Agnostic Module Consumers***).  Please use that PR as a place for discussing these specific terms.

[2018-08-08 19:53] #161 closed

[2018-08-14 21:57] MylesBorins commented on #86
Going to close this for now.

[2018-08-14 21:57] #86 closed

[2018-08-14 21:57] MylesBorins commented on #84
Will open a new issue for future meetings

[2018-08-14 21:57] #84 closed

[2018-08-14 22:00] MylesBorins opened #166 "Managing fork and agreed upon minimal kernel"
Making this issue to track discussion and gain consensus around what a minimal kernel would look like in that fork.

[2018-08-14 22:05] MylesBorins opened #167 "Node.js Foundation Modules Team Meeting 2018-08-15"
## Time

**UTC Wed 15-Aug-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 15-Aug-2018 12:00 (12:00 PM) |
| US / Mountain | Wed 15-Aug-2018 13:00 (01:00 PM) |
| US / Central  | Wed 15-Aug-2018 14:00 (02:00 PM) |
| US / Eastern  | Wed 15-Aug-2018 15:00 (03:00 PM) |
| London        | Wed 15-Aug-2018 20:00 (08:00 PM) |

[2018-08-14 22:34] MylesBorins commented on #166
what would we want to call the fork? node-esm?

[2018-08-14 23:37] devsnek commented on #166
how about a branch called `esm`

[2018-08-15 02:02] MylesBorins commented on #166
So this is a good thing to discuss

Fork vs branch.

With branches on node core we have one less thing to worry about (a new
repo) but are creating lots of noise for other collaborators (feature?)

A new repo allows us a sandbox, but creates a separate place for
conversations to go (aside from the modules repo)

We could mount node as a Subtree in the modules repo and do pull requests.
This is a b

[2018-08-15 05:05] GeoffreyBooth commented on #166
The other thing to discuss is what should go in Node core. Do we keep the current implementation there? Replace it with a minimal one that grows over time? Remove it and leave nothing, and various implementations are all relative to an ESM-less core?

[2018-08-15 07:15] giltayar commented on #166
+1 for fork. Until we know where this is going, the less noise, the better.

On Wed, Aug 15, 2018 at 8:05 AM Geoffrey Booth <notifications@github.com>
wrote:

[2018-08-15 07:16] giltayar commented on #166
What should go in? Leave everything as is, as this is the easiest, and
start discussing what should be taken out. (or put in.)

On Wed, Aug 15, 2018 at 10:15 AM Gil Tayar <gil@tayar.org> wrote:

[2018-08-15 17:00] devsnek commented on #166
node looks for index.{any registered file extension} atm, will we still support that?

[2018-08-15 17:05] GeoffreyBooth commented on #166
I think folder lookup can be something else that gets added later. If you _really_ want to be minimal, you could also leave out package resolution, to allow for either the CommonJS `require` algorithm or the package name maps proposal.

[2018-08-15 17:59] MylesBorins commented on #166
Minimal kernel imho:

* No transparent interop
* import only supports ESM
  - no json
  - no common
  - no native modules
  - perhaps explicit ban on .js extension for now
* No extension searching (move https://github.com/nodejs/node/pull/21729 to the fork and iterate)
* createRequireFunction to allow for cjs in esm interop (move https://github.com/nodejs/node/pull/19360 to the fork and iterate)
*

[2018-08-15 18:07] devsnek commented on #166
i would still say that any situation where we land without node resolution enabled by default is unworkable, and so it should be part of the kernel.

[2018-08-15 18:16] MylesBorins commented on #166
@devsnek I don't agree with you, and thus we don't have consensus. We can't remove it later and thus I think it shouldn't be in the kernel

[2018-08-15 18:32] giltayar commented on #166
@MylesBorins - I'm assuming your minimal kernel also doesn't assume an extension, and the extension has to be explicitly in the name?

[2018-08-15 19:00] MylesBorins commented on #166
@giltayar indeed

[2018-08-15 19:59] jkrems commented on #167
Guess we lost our spot. :D

[2018-08-15 19:59] Fishrock123 commented on #167
Ah, zoom. Well, shelve whatever thought that was for next time I guess.

[2018-08-15 20:00] MylesBorins commented on #167
It looks like someone else from the foundation started a meeting. We'll bring transparent interop up at the begining of the next meeting

@kborchers do we have any insight into getting more zoom accounts to avoid something like this happening, it was very disruptive

[2018-08-15 20:01] giltayar commented on #167
At least it allowed to finish @jkrems  sentence in the notes! :-)

[2018-08-15 20:01] SMotaal commented on #167
Yeah... I think we were all really immersed into it this time, which is obviously a thing to appreciate

[2018-08-15 20:52] kborchers commented on #167
I will look into additional zoom accounts and will report back.

[2018-08-15 21:35] SMotaal opened #168 "Proposal: Registering a "node" URI scheme"
I wanted to propose registering a "provisional" URI scheme "node" which reflects a custom resolution extension based on the transport scheme. I don't think it is time to lock in any particular specifications aside from the fact that it depends upon known transport protocols like 'file' and is intended to provide practical URI mappings and improved interoperability with other applications like web

[2018-08-15 21:42] ljharb commented on #168
This seems like it would conflict a bit with the idea that many believe that node shouldn't by default add support for importing from URLs. What's the use case you have in mind?

[2018-08-15 22:02] SMotaal commented on #168
I am not sure that there is a concrete use case in mind, aside from the fact that I find my self (and surely others) often relying on the fact that module specifiers are simply derivations for URLs, which are well defined on for browser contexts in the form of HTTP* WS* *FTP and FILE, ie the transport & resolution schemes, but start getting a little messy for things like GIT... etc. One can almost

[2018-08-15 22:06] devsnek commented on #168
i wouldn't imagine node: going to anywhere except maybe the builtin modules (which the current loader actually already does internally)

[2018-08-15 22:12] demurgos commented on #168
I am working on implementing code coverage for ESM using V8's native profiler. One of the issues is to differentiate user's scripts from internal ones. At the moment, user scripts have absolute paths (`file://` for ESM, symple FS path for CJS) and internal scripts have relative paths. Using `node://` for internal scripts would be a strong signal that the scripts cannot be just read using `fs.readF

[2018-08-15 22:14] SMotaal commented on #168
@devsnek 👍 this is most likely the seed that inspires this thread. At times when I am experimenting with NW.js but more so with Electron (since it has a more open schemes API) it becomes very easy to see how one needs to assume node resources are always 'node:' if only implicitly and outside the scope of the actual resources themselves.

[2018-08-15 22:16] SMotaal commented on #168
@demurgos that's probably the URL parameter that is passed to through the ModuleWrap constructor

[2018-08-15 22:25] demurgos commented on #168
@SMotaal
Exactly. I've looked into the related source code and relative/abs path may be enough to differentiate them but I am not sure if it's something that can be relied for long term (I did not find it documented).

[2018-08-15 22:27] jkrems commented on #168
Would a protocol like `commonjs://` be more clear? The weird thing about the protocol solution last time I tried it was that it becomes weird for non-absolute things. `commonjs://./foo.node` looks really weird and isn't quite how "normal" URLs would work.

[2018-08-15 22:32] SMotaal opened #169 "Discussion about an implicit (or explicit) "node" scheme"
This compliments #168 with a more open discussion about the notion of assuming an implicit (or explicit) `node` scheme which builds on the existing internal/implicit use of `node:` in experimental-modules.

This thread opens the discussion about the notion that a theoretical (or experimental) Node.js ESM loader can be considered the one and only implementation for a `node+file:` scheme.

Other sch

[2018-08-15 22:40] SMotaal commented on #169
@jkrems

Absolutely, which is more ambiguously than `node+commonjs:` (dropping `node+` since it is always within the `node` scheme. Funny enough `commonjs:` is not relevant for CommonJS modules since the only time a specifier is actually a `file:` URL (not an OS-specific path) is "theoretically" when importing into ESM or when using `import(…)` instead of `require(…)` in cjs.

[2018-08-15 22:41] SMotaal commented on #168
Let's get into the details over at #169 (Discussion about an implicit (or explicit) `node` scheme)

[2018-08-15 22:59] devsnek commented on #169
strong -1 on `commonjs://`... schemes refer to the protocol used to access a resource, not the type of the resource itself. it would be a misuse of urls to do so.

[2018-08-15 23:06] SMotaal commented on #169
@devsnek that `commonjs:` is not a protocol nor a scheme per say, but within the context of a URI-based module system (like ESM) that can theoretically load a commonjs module through an interface with that system, such specifiers must assume a "non-standard" scheme which takes the form of a URI that makes it possible to infer concrete and consistent parameters that will result in exactly one "wrap

[2018-08-15 23:39] ljharb commented on #168
You can already use `isCore` from https://npmjs.com/resolve, for example, to determine if it's a builtin module or not - the implementation would be able to be simpler if the specifier contained that info (like, for example, if it was under a scope) but it's basically a solved problem.

[2018-08-15 23:41] ljharb commented on #169
I don't think it's likely that `import` will work in node with any schemes, including http/https, and i don't even think it should work with `file://` - unless we have consensus on those, I don't think it makes sense to add a new scheme.

[2018-08-16 05:56] giltayar commented on #167
All - I had a flaky connection for about 5 minutes while I was taking
notes, so there are lots of '???' interspersed in the notes. Feel free to
dive in and add what you said during that time.

On Wed, Aug 15, 2018 at 11:53 PM Kris Borchers <notifications@github.com>
wrote:

[2018-08-17 15:33] MylesBorins commented on #167
I'm -1 on moving that to core right now. This makes sense as something that
can land in the fork.

We definitely do not have consensus on per package scoped loaders.

On Fri, Aug 17, 2018, 11:24 AM Geoffrey Booth <notifications@github.com>
wrote:

[2018-08-17 15:41] michael-ciniawsky commented on #167
@GeoffreyBooth Why making a PR against core if there will be a fork ? (generally speaking)

I am, but sry to be quite blunt here, **definitely** not with your current proposal and **absolutely** not anything involving MIME (which, sry again, simply doesn't make any sense at all) :). How about `pkg.module` for ESM analog to how `pkg.main` works for CJS ? Simple and straightforward

When will the fo

[2018-08-17 16:31] devsnek commented on #167
@GeoffreyBooth i'm happy to mentor any prs you want to make

[2018-08-17 18:06] ljharb commented on #167
@michael-ciniawsky a module field simply won’t work because there’s more than just ESM and CJS. There’s also wasm, and infinite potential future parsing goals. Altho I’m not a fan of mimes, the current suggestion of a mapping from extension to something is probably the best and only viable option imo.

[2018-08-17 18:10] zenparsing commented on #167
This is a sidebar, but my intuition would be that the loader would use the extension when presented with a `pkg.module` (using ESM for ".js").

[2018-08-17 18:15] michael-ciniawsky commented on #167
I don't understanding why this wouldn't work but I'm also not claiming it 💯 does. Where does `pkg.module` fall short here and limits (potential) use cases ? In a nutshell all I suggest is

**`package.json`**
[code]

**`package.json`**
[code]

[2018-08-17 18:25] MylesBorins commented on #167
Hey all. Can we move the conversation not related to this meeting to
another thread.

😇

On Fri, Aug 17, 2018, 2:22 PM Kevin Smith <notifications@github.com> wrote:

[2018-08-17 18:33] michael-ciniawsky commented on #167
Sure if there was a proposals section in the repo I would just write one about all this and make a PR to discuss there, while refraining from randomly commenting every time this pops up somewhere 😇 :D

@zenparsing Happy to clearify it and/or write a doc to work on it (focused). In an nutshell once one knows the entry of a package (e.g via `pkg.module`) follow the `import/import()` and `require()`

[2018-08-17 21:18] sendilkumarn commented on #167
I am interested and I can help a bit 🙂

[2018-08-20 03:45] jaydenseric commented on #153
This issue was raised Jul 17, it is now Aug 20, and there is no _concrete_ response, just another rabbit hole of debate and tangents; a demonstration of the concerns raised in the issue.

I've been enthusiastically experimenting with `--experimental-modules` and PR'd a lot of packages for `.mjs` support, and published several packages with dual CJS/ESM support. I'm doing all I can from the outside

[2018-08-20 04:06] devsnek commented on #153
@jaydenseric we're doing a lot of stuff in other issues in the repo, and we have bi-weekly conferences as well. we are working on getting esm done in node, but we're getting it done correctly. deno can do whatever it wants because it explicitly opts out of the node ecosystem. we can't move fast and break millions of ecosystem packages.

your feature requests about typescript and fetch and formdata

[2018-08-21 09:31] thecodingdude commented on #153
@devsnek whilst it may be obvious to the members in this team that progress is being made, to a casual outsider and somebody who's following ESM in Node it's really hard to get an "at a glance" understanding of _what_ exactly has been concluded since this team was founded in February.

Has a single decision thus far been made? Is there anything that is 100% this is _exactly_ how it will be done, n

[2018-08-21 21:05] benjamingr commented on #153
Hey @thecodingdude , I sympathise with your frustration. Being critical is fine and welcome and involvement is always appreciated (and encouraged!).

However, at Node.js we require participants to [play nice](https://github.com/nodejs/admin/blob/master/CODE_OF_CONDUCT.md#our-standards) and be respectful. People feel like statements such as:

Are not a particularly great way to interact - you came

[2018-08-22 19:31] targos commented on #166
@MylesBorins thanks for creating the repo. Should we start by pushing node's master branch to it?

[2018-08-22 19:34] MylesBorins commented on #166
I'm trying to push right now. Super slow wifi 😅

On Wed, Aug 22, 2018, 12:32 PM Michaël Zasso <notifications@github.com>
wrote:

[2018-08-22 22:32] MylesBorins commented on #166
Fork is up and running

--> https://github.com/nodejs/ecmascript-modules

[2018-08-24 11:12] SMotaal commented on #85
Any interested in reviving this effort?

I independently started to work on an iterative survey building effort, which starts with the premise that while I know to some degree the composition of the participants that I am interested in surveying, I still don't know exactly what type of questions will elicit the more informative and reliable results.

From there the survey will be iteratively built

[2018-08-25 09:45] SMotaal commented on #85
@sendilkumarn  Are you interested? If so you can take a go at the first round and once we refine it you can also weigh in on changes as we move forward.

We will still need at least one more participant to carry out the first round.

[2018-08-25 10:57] sendilkumarn commented on #85
Lets do it 👍

[2018-08-26 16:11] SMotaal commented on #169
@ljharb so I've thought about this for a while and wanted to push this discussion further but with more clarity.

Assume for a moment that I not proposing that `import … from 'node:…'` or `import('node:…')` would be handled by node, I am simply saying that for a theoretical third-party implementation (ie bundlers, renderers... etc) parsing an ESM file that is somehow identified as a "node" ESM fil

[2018-08-26 16:21] ljharb commented on #169
Although anyone will be able to use loaders and transpilers to use any specifier they want - I’m against node having specifiers work by default. Every path in node is file:// and so does not need an explicit protocol, http/https URLs would be dangerous imo (altho these might end up being acceptable), and i don’t see the benefit of adding additional protocols. A protocol talks about how you access

[2018-08-26 16:47] SMotaal commented on #169
Again, that is all besides the points I am trying to raise. And as far as node is concerned, I don't think I disagree with your logic.

This imho is where I might be able to articulate my thinking better. My version of this is more like "while every  path in node is file:// and so does not need an explicit protocol" not every specifier is a path.

For instance, bare specifiers are not a path nor a

[2018-08-26 17:01] ljharb commented on #169
I could certainly see the internal - not user-visible - use of an implicit node:// protocol on bare specifiers, just like resolved file paths might have file:// and source text modules might have another protocol. However, i wouldn’t want users to be able by default to have two ways to represent a specifier to the same module (noting that `./foo` and `../src/foo` might refer to the same module, bu

[2018-08-26 17:02] SMotaal commented on #168
@ljharb I'm thinking less about implementation, or at the very least, assuming NPM packages are not an accessible luxury, from the premise that a loader that circularly depends on what it loads (unless ESM will always depend on CJS) is paradoxical at best.

[2018-08-26 17:04] ljharb commented on #168
A loader might always have to depend on what’s loadable in its absence, otherwise it wouldn’t be able to have any external modularity. If this is running in node, installed npm packages will always be accessible because require/import will be, of course but never necessary if installation is unavailable - just like now.

[2018-08-26 17:06] SMotaal commented on #169
absolutely, my own thinking too, the source text specifier `node:foo` would be invalid (unless maybe a custom loader wants to play with that) and assuming it makes it somehow to the module wrap, the parent runtime will see it `node:[…]node:foo` and this will be an issue for the custom loader(s) and never a node thing to address.

[2018-08-26 17:12] SMotaal commented on #168
That is true if the loader has a loader, which for all intents and purposes is almost always true in node, but at some point, we have to consider the loader is an abstract platform (today it's handled by ModuleWrap and NativeModule.require)

[2018-08-26 17:29] ljharb commented on #168
At which point? node wouldn’t be node if it had no base loaders, and we’re concerned with how loaders work in node.

[2018-08-26 17:37] SMotaal commented on #168
Not necessarily though, just not node as we know it to be right now.

[2018-08-26 17:37] devsnek commented on #169
https://github.com/nodejs/node/blob/317b894b122e2c45499d6a0032adc27d85f0dd99/lib/internal/modules/esm/loader.js#L77-L78

[2018-08-26 17:46] SMotaal commented on #168
I such assumed premises should not considered set in stone, or at least, we should make a document to keep track of any such assumptions. Without some clarity on what is assumed and what just happens to be true about one or more of the many implementations, it is very difficult for anyone to try to make a reasonable contributions especially if they are less seasoned or familiar with such implement

[2018-08-26 17:59] SMotaal commented on #169
@devsnek I know, I blame you for all this discussion. If I did not see this, I think I would have remained relatively ignorant of the notion of the ModuleWrap's `src` and `url` and how they interplay with v8's Modules...

My concerns are will all other non-path ModuleWraps (dynamic modules like cjs) and how a simple spinoff on "node:builtins" which do not factor into node's ESM resolution at all,

[2018-08-26 18:07] devsnek commented on #169
@SMotaal the implementation has a lot of freedom about what it does for specifiers. the only we have is that our specifiers must be valid javascript strings. we currently use urls because they're nice generic interface for saying where something came from, but we can change it to be anything we want.

[2018-08-26 20:04] SMotaal commented on #169
That's true, and we usually aim for what is best for everyone involved in the ecosystem. Which is why I think node should be a little more clear (at least in concept) about why specifiers (aside from relative paths to specific files) make sense, which can happen if we align them to the theoretical of a scheme, now we tell someone who has no trouble understanding URLs and for all intents and purpos

[2018-08-26 21:25] SMotaal commented on #169
I will somewhat proactively and defensively reiterate that this is simply conceptual, it will affect how look at things and on the very rare occasion may influence some design choices, but in no way am I associating this with the idea that node will resolve `node:module` instead of, as alias for, or aliased by the specifier `module` (per the current `--experimental-modules` default) — `node:module

[2018-08-26 22:27] demurgos commented on #168
Hi,
`isCore` does not solve the problem I was describing. `isCore` checks if a package name is a Node package.
What I am trying to do is to know is how to differentiate modules that exist on disk or are part of the internal modules bundled in the Node lib.

Here is [an example hello-world](https://gist.github.com/demurgos/91afc684755fd11e3a58c536bbcce382) using ESM. When I execute it with V8 cover

[2018-08-26 22:50] devsnek commented on #168
@demurgos those names (`events.js`, etc) actually come from the older [NativeModule loader](https://github.com/nodejs/node/blob/49bfc37241b0d306635c54c850f10669f07ff22c/lib/internal/bootstrap/loaders.js#L273), which has no concept of URLs, so I don't think people would be very happy with us changing it to use them. It's not actually interacting with ESM at all at that point.

[2018-08-26 23:07] demurgos commented on #168
@devsnek
Okay, thanks for info! It was just just an idea I had where `node://` might be useful. It could still be used for the ESM interfaces of these modules (if they have one). I was also thinking about having some protocol to the CJS modules (they're almost like the file on disk, but in a wrapper).

In my case, I already have a good-enough solution so it's probably not worth changing these URLs

[2018-08-27 02:04] ljharb commented on #168
@demurgos right, `isCore` returns true only for built-in core modules; and false for anything else (whether it's actually on disk or not). It does not check if something is requireable (ie, core *or* in node_modules); that's what `resolve` would check.

[2018-08-27 03:06] demurgos commented on #168
Well, I'm not sure how far in userland I am because I'm using the V8 inspector, but this exactly what I'm doing (and I want to find them to drop these internal embedded modules as soon as possible, to avoid exposing Node's internals).

[2018-08-27 14:14] bmeck opened #170 "Are we dealing with browser/bundler compatibility or not?"
It seems the PRs on https://github.com/nodejs/ecmascript-modules have multiple voices making claims that we need to do something for web/bundler compatibility and others claiming web/bundler compatibility to be in scope. Sometimes this appears to be the same person. We should solve for this question I think before landing PRs.

[2018-08-29 14:21] MylesBorins opened #171 "Today's meeting"
Hey all,

I'm on vacation this week... Someone else will have to pick up getting the meeting going

@mhdawson are you able to kick off the zoom?

@jdalton do you want to chair?

Anyone wat to use "make-node-meeting" to generate the agenda?

[2018-08-29 17:03] mhdawson commented on #171
I'm double booked at that time, but I can start the zoom and then I'll have to hand off to @jdalton and drop off

[2018-08-29 17:08] jdalton commented on #171
I am unable to chair today _(a bit under the weather)_.

[2018-08-29 17:11] guybedford commented on #171
I could chair the meeting again if it would help.

[2018-08-29 17:42] guybedford opened #172 "Node.js Foundation Modules Team Meeting 2018-08-29"
## Time

**UTC Wed 29-Aug-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 29-Aug-2018 12:00 (12:00 PM) |
| US / Mountain | Wed 29-Aug-2018 13:00 (01:00 PM) |
| US / Central  | Wed 29-Aug-2018 14:00 (02:00 PM) |
| US / Eastern  | Wed 29-Aug-2018 15:00 (03:00 PM) |
| London        | Wed 29-Aug-2018 20:00 (08:00 PM) |

[2018-08-29 17:42] guybedford commented on #172
Please anyone feel free to edit the agenda or make suggestions if I have missed anything as well.

[2018-08-29 17:59] GeoffreyBooth commented on #172
Can we also discuss #160? I know it’s about creating a PR against the current implementation rather than the new one, but I feel like the work that goes into it will very likely find its way into the new implementation as well.

[2018-08-29 18:01] guybedford commented on #172
@GeoffreyBooth sure I've added it on as another discussion item. I was under the impression it was discussed last week, or did time run out?

[2018-08-29 18:57] SMotaal opened #173 "Surveys: Initial Drafts"
This initiative is intended to yield Google Form based survey to be able to prioritize group decisions. The goal is to build a survey that feels right to developers across the Node's ecosystem, which requires more effort than just being able to write some good questions from one's own perspective.

Please note that the efforts related to this thread are now concluded. Please look forward to update

[2018-08-29 18:58] SMotaal commented on #172
Sorry for the last moment... I just added modules agenda item #173

[2018-08-29 19:16] zenparsing commented on #173
This looks good - I'll be happy to be involved in the iteration process.

[2018-08-29 19:17] bmeck commented on #173
I'd like to be involved, but am confused as to what that looks like. I'm more looking to review the survey questions, not to take the survey.

[2018-08-29 19:17] SMotaal commented on #173
I know... my bad, it's kinda how my head feels most of the time

[2018-08-29 19:25] devsnek commented on #173
I'm very interested in this, please count me in.

[2018-08-29 19:32] MylesBorins commented on #173
I believe @seldo would be interested in helping to promote the survey via
npm.

I'm sure the foundation could help with this as well.

I believe survey monkey is what they had used.

On Wed, Aug 29, 2018, 8:25 PM Gus Caplan <notifications@github.com> wrote:

[2018-08-29 19:41] #171 closed

[2018-08-29 19:44] GeoffreyBooth commented on #173
Me too.

[2018-08-29 20:09] SMotaal commented on #172
It seems not everyone in attendance listed themselves in the minutes... Does anyone have a list so we can mention them here to get it done?

[2018-08-29 20:12] SMotaal commented on #172
- @LJHarb (Jordan Harband)
- @zenparsing (Kevin Smith)
- @fishrock123 (Jeremiah

--- Here are the ones already in the list:

* Wesley Wigham
* Daniel Rosenwasser
* Geoffrey Booth
* Bradley Farias
* Guy Bedford
* Gus Caplan
* Saleh Abdel Motaal
* John-David Dalton

---

Did I miss anyone?

[2018-08-29 20:15] guybedford commented on #172
That seems right to me, thanks.

[2018-08-29 20:25] SMotaal commented on #85
Please jump over to #173 regarding efforts to prepare Initial Draft (set to unroll for October's event)

[2018-08-29 21:26] inidaname commented on #173
Scheduling for 2-3 days will be Friday or Saturday so which do you choose @SMotaal

[2018-08-29 22:08] seldo commented on #173
I would anti-recommend surveymonkey; they have absurdly naive anti-XSS protection that prevents including the word "JavaScript" in a survey question; this is still not fixed.

[2018-08-29 22:35] rubys commented on #172
I was present. Will check the minutes when i get back home

[2018-08-30 07:39] sendilkumarn commented on #173
Lets find a suitable timing, created a [doodle](https://doodle.com/poll/wz3q6brww9idfuaa)

[2018-08-30 11:08] mcollina commented on #173
How will the be the form circulated? Is the "event" mentioned, Node+JS Interactive? or the collaborator Summit?

[2018-08-30 15:48] SMotaal commented on #173
@mcollina I would assume and would like it to be both "events", but this really is up to the group as a whole. We're just trying to pick up momentum to make it possible.

[2018-08-30 15:59] SMotaal commented on #173
I guess the A1 post-survey review can be Friday with myself, @inidaname and @sendilkumarn (please check doodle Aug 31 7PM GMT)

Any preferences between Skype or Hangouts? I know sometimes the region sort of determines that for us, so please let me know which works best.

[2018-08-30 17:34] sendilkumarn commented on #173
I think Hangouts is fine 👍

[2018-08-31 14:04] SMotaal commented on #173
@GeoffreyBooth Sorry about that... I will up this thread with next steps and figure out a how to make sure our efforts stay coordinated as we proceed.

[2018-08-31 14:46] SMotaal opened #175 "Surveys: Coordination"
📆
Last Meeting
<sup>Thursday September 19 8-9 PM (UTC)</sup>

Thanks everyone for joining… I will try to post some updates for those who missed before our next regular meeting time.

---

**Tasks**

- [x] 🎉 **A1 (closed)** @SMotaal (@inidaname @sendilkumarn) — Sep 3
- [x] ✋ **A2 (closed)** @sendilkumarn (@GeoffreyBooth @zenparsing)  — Sep 10
- [x] 🎉 **B1 (internal)** @zenparsing @sendilkumarn @dev

[2018-08-31 14:52] SMotaal commented on #173
Re #175 Survey: Initial Draft Incremental Rounds

Everyone taking part the incremental rounds of the (pubic) survey, as things start to move forward we will try to coordinate our efforts through #175 using direct mentions only.

Given the ad-hoc nature of this organically evolving process and how it is different from how normally collaborate, the direct mentions rule should help us stay up to day

[2018-08-31 15:04] SMotaal commented on #175
@inidaname @sendilkumarn

Let's confirm that we are all available for hangouts today starting 7PM GMT (we'll see how long it takes the first time).

We will be covering proposed changes for A2, how to go about dividing the workload, and what we can do to help mitigate confusion and concerns as we move forward.

[2018-08-31 17:50] sendilkumarn commented on #175
The hangout link is available [here](https://hangouts.google.com/call/7NmMJ-d-kaybOLbazO5xAAEI) for today's meeting

Come and join everyone 👍

[2018-08-31 17:52] SMotaal commented on #175
@sendilkumarn I think the whole process works only if people taking the survey do so for the first time, can we please keep the hangout session closed (at least the portion of it that deals with reviewing the questions from A1 -> A2)

[2018-08-31 17:58] sendilkumarn commented on #175
@SMotaal Deleted my comment here. Agree to that 👍

Since there were many people expressing interest in the doodle the other day I thought they might want to join 😉

[2018-08-31 18:02] SMotaal commented on #175
@sendilkumarn This is also new to me... I am just trying hard to follow the better practices that I learned regarding survey validity so that our survey succeeds and not become a controversial matter that can potentially lead to very negative outcomes to our collective efforts.

[2018-08-31 18:04] sendilkumarn commented on #175
@SMotaal No worries, it is also new to me 👍
I have sent you both a private link to the email address 👍

[2018-08-31 19:05] inidaname commented on #175
Hello didn't get the invite link for hangout

[2018-08-31 21:57] SMotaal commented on #175
@inidaname I was happy you were able to join. We're all over as we find a good way to structure this, your efforts are instrumental and highly appreciated.

[2018-09-01 23:35] Trott opened #176 "@rubys requesting membership"
A membership request for @rubys was submitted through the usual GitHub interface mechanism, but the GOVERNANCE doc in this repo says it needs to be made here and added to the modules meeting agenda. So here's an issue. kthxbai

[2018-09-01 23:48] Trott commented on #176
(I guess this is a request for initial observer status as membership would be a second request after that typically.)

[2018-09-02 21:34] SMotaal commented on #175
@sendilkumarn If you are happy with the A2 form we looked at together (give it a spin yourself following the steps below first) then we can finalize A1 and begin to A2 (and pass moderation from me to you)

**Steps**

Before sending invites to participants make sure you know exactly how many (if any) responses were submitted by the moderator (or reviewers) and make sure anyone with access is made a

[2018-09-02 21:57] SMotaal commented on #175
@sendilkumarn I did a dry run and I have a couple of changes that I want to make to the Internal feedback before we finalize, and a couple of changes to questions which can wait till A2 review.

[2018-09-03 09:59] SMotaal commented on #175
@sendilkumarn I noticed that when I'm leave the form window open in Chrome (with some experimental flags on) after leaving the window in the background, somehow the form's model goes out of sync and you can suddenly see the text of questions and headings switched around. **Don't freak out, don't try to correct, just reload the window** because changes in this state simply means you are likely to m

[2018-09-03 16:14] mcollina opened #177 "Session at Collab Summit Vancouver"
Hi Folks,

It would be brilliant to have a session about Modules in Vancouver.

Who would like to lead that?

[2018-09-03 21:50] MylesBorins commented on #177
I can definitely help... anyone else wanna pitch in?

[2018-09-04 22:01] sendilkumarn commented on #175
@SMotaal Thanks for the tip 👍

[2018-09-04 22:04] sendilkumarn commented on #175
@GeoffreyBooth Thanks for filling the survey.
@zenparsing Did you receive the link for the survey, let me know if you have any difficulties.

Also, can we schedule a meeting on  7 or 8 Sep?

[2018-09-04 23:31] zenparsing commented on #175
@sendilkumarn Yes, I completed the survey a few hours ago.

[2018-09-04 23:48] GeoffreyBooth commented on #175
Sure, I’m available until 8 am Pacific Time any weekday.

[2018-09-05 15:12] sendilkumarn commented on #175
@GeoffreyBooth  awesome I just created this [doodle](https://doodle.com/poll/bqgpytcvsk6x5s5q)

@zenparsing can you also give your preference?

[2018-09-05 18:10] #135 closed

[2018-09-05 18:40] SMotaal commented on #177
With the revival of the survey, I've been considering it might be very useful to use Vancouver as a platform for unrolling the survey. If others like the idea of on-site survey efforts and having them coordinated with/around the session I am happy to volunteer to lead the survey efforts and support other efforts.

[2018-09-05 20:44] mhdawson commented on #176
+1

[2018-09-05 21:00] sendilkumarn commented on #177
@SMotaal I like this idea of on-site surveys 👍

[2018-09-05 21:01] sendilkumarn commented on #175
Sure, unfortunately, I am not free tomorrow (6th Sep). I am okay with anytime today and Friday.

[2018-09-05 21:11] mcollina commented on #177
We will have *massive* attendance at Collab Summit. We can for example, ask during the Code & Learn. It's a 250 people.

[2018-09-05 21:15] sendilkumarn commented on #177
I think we can split it between days and ask people to fill them out. More input is always better

[2018-09-05 21:36] SMotaal commented on #175
@sendilkumarn if you prefer, I am open to doing the review on the 6th and we both can touch base on the 7th for finalization and next steps.

[2018-09-05 22:18] MylesBorins commented on #177
The second day will have significantly less people than the first day. We can make going through the survey part of the code + learn and get 200+ responses

[2018-09-05 22:18] sendilkumarn commented on #175
@SMotaal I am perfectly fine with that 👍

[2018-09-05 23:58] SMotaal commented on #177
@MylesBorins I think those 200+ responses constitute a very rare kind of sample to find as far as surveys go

[2018-09-06 00:01] SMotaal commented on #175
@GeoffreyBooth @zenparsing please take a moment to "re"[doodle](https://doodle.com/poll/bqgpytcvsk6x5s5q) times for tomorrow.

Thanks to everyone's hard work I am feeling very motivated by how this is coming along.

[2018-09-06 00:02] SMotaal commented on #175
@sendilkumarn can u doodle yourself too (obviously Friday onwards)

[2018-09-06 08:49] SMotaal commented on #175
@GeoffreyBooth There is the one slot on Fri Sept 7th 10-11 Pacific (it's 1-2 Eastern if my 4am Math works)... another Friday 2-3 PDT (5-6 EDT). If those are an option for you, I see now that this may be better than trying to rush it (sorry about the back and forth).

[2018-09-06 09:41] SMotaal commented on #175
@GeoffreyBooth @zenparsing With the assumption you both are Pacific Time [I'm Eastern, 3 hrs ahead](https://www.google.ca/search?ei=EfOQW9yoO8Hl_Qb41oHwAw&q=difference+between+pacific+time+and+eastern&oq=difference+between+pacific+time+and+eastern&gs_l=psy-ab.3...13199.16613.0.16830.0.0.0.0.0.0.0.0..0.0....0...1c.1j2.64.psy-ab..0.0.0....0.hORnqt8nboc)

Please clarify:

Thursday & Friday: if you ar

[2018-09-06 16:51] zenparsing commented on #175
@SMotaal I've updated my times.

[2018-09-06 21:45] SMotaal commented on #175
@sendilkumarn Thursday was not an option... I leave it up to you to pick the ideal Friday time (assuming we either one of us or both can follow up with Geoffrey over the weekend)

My hope is that we at least have enough input and discussion to move on either the internal survey or the draft, even if we get additional input over the weekend.

Does this sound like a plan? When do you want to meet to

[2018-09-07 15:34] SMotaal commented on #175
@sendilkumarn @zenparsing

For do today's review: 👍 to do this ASAP (first slot from doodle ~ 30 mins away)

[2018-09-07 19:00] sendilkumarn commented on #175
Lets do it in 2 hours exact. I will send out hangout invitation in an hour 👍

[2018-09-07 20:57] sendilkumarn commented on #175
@SMotaal @zenparsing can we meet at Hangout ? here is the link https://hangouts.google.com/call/AMaNEIjurEJzCHabPRePAAEI

[2018-09-07 22:30] SMotaal commented on #175
@sendilkumarn @zenparsing today's review was amazing... hope you are also happy with the progress we are all bringing to this effort. Also, I try to keep this issue as up-to-date as I can, if you see something missing or outdated please mention+comment and I will make the edit (not sure if you can make the edits yourself, but if so feel free to make corrections as needed)

[2018-09-12 06:30] #126 closed

[2018-09-12 06:38] #172 closed

[2018-09-12 06:38] #167 closed

[2018-09-12 06:47] MylesBorins commented on #90
I'm going to remove this from the agenda until we can reach consensus on a minimal kernel / approach for the fork. Please feel free to re add or let me know if this should be on today's agenda

[2018-09-12 06:54] MylesBorins opened #179 "Node.js Foundation Modules Team Meeting 2018-09-12"
## Time

**UTC Wed 12-Sep-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 12-Sep-2018 12:00 (12:00 PM) |
| US / Mountain | Wed 12-Sep-2018 13:00 (01:00 PM) |
| US / Central  | Wed 12-Sep-2018 14:00 (02:00 PM) |
| US / Eastern  | Wed 12-Sep-2018 15:00 (03:00 PM) |
| London        | Wed 12-Sep-2018 20:00 (08:00 PM) |

[2018-09-12 09:50] SMotaal commented on #179
@MylesBorins Several team members have been working really hard on a two-track survey effort (developers and internal) for the Modules WG. Today, we are sending out invites to @zenparsing's  B1 (internal track) version and hope to get at least 10 responses till then. Both @sendilkumarn and @devsnek are coordinating to ensure we include everyone in the WG, until we figure out a more structured mech

[2018-09-12 14:54] Fishrock123 commented on #175
I hate the way these questions are worded. I refuse to fill it out.

Please adjust it to not have such confrontationally worded answers to questions.

[2018-09-12 15:35] ljharb commented on #179
Are many of the questions like that one, where they ask a question about an implementation detail and not about use cases and defaults?

[2018-09-12 15:39] MylesBorins commented on #179
@SMotaal I've updated the agenda accordingly. Please lmk if this does not accurately reflect your request

[2018-09-12 18:27] zenparsing commented on #175
@Fishrock123

If you are referring to the internal survey then I humbly apologize for the wording as I am most responsible. I tried to inject a bit of humor (I think we all take ourselves a bit too seriously), but I can see how it can be easily misunderstood.

[2018-09-12 18:38] SMotaal commented on #175
Thank you so much @zenparsing for taking the initiative.

I need to remind everyone that people who are taking initiative are doing so for our collective responsibility to roll out a survey. Refusing the contributions of those involved in the this effort is not something this team at large can entertain at the moment. The community at large is eagerly looking at our team to land ES modules. Those

[2018-09-12 18:47] ljharb commented on #179
@SMotaal sure, where's the link for it?

[2018-09-12 18:50] SMotaal commented on #179
We have to email invites and we're still working with everyone on the team to ensure we have your emails. Can you please [email me](mailto:saleh@grasppe.com) to include you.

[2018-09-12 18:52] SMotaal commented on #179
@MylesBorins can we also address having an internal mailing list in pre/post. I wish forms worked with GitHub logins, they don't yet.

[2018-09-12 18:55] sendilkumarn commented on #179
@MylesBorins yeah having that list will be very handy for sending out these communications and looking for faster feedbacks.

@SMotaal Is there some other forms that work with Github logins? (It seems like an interesting idea)

[2018-09-12 19:01] SMotaal commented on #179
While GitHub and Google folks land this... let's just use this form to collect emails/usernames: https://goo.gl/forms/DVsmE9HWXQKBNO0J3

🎉

[2018-09-12 19:02] sendilkumarn commented on #179
I think we can remove the `github` username there?

[2018-09-12 19:03] SMotaal commented on #179
I was thinking this creates a spreadsheet that links the two, sounds good?

[2018-09-12 19:43] michael-ciniawsky commented on #166
`pkg.module` ?  Or will `pkg.main` still lookup the file extension (as an exception)? This feels inconsistent/confusing if paths searching is removed...

**`package.json`**
[code]

**`package.json`**
[code]

?

[2018-09-12 19:46] MylesBorins commented on #166
@michael-ciniawsky I think the intent was to support `package.main` as a means to specify the entry point of a module, and that this path would need to be explicit (no path searching).

We were debating if this should even be supported, perhaps it should be dropped.

[2018-09-12 19:49] MylesBorins commented on #166
here's a doc so people can comment and offer suggestions for changes. If you would like to suggest alternative proposals please do so in the issue

https://docs.google.com/document/d/1uq3v1h3dUXmjMAabQCsxdj7Ig2lOpaty1u4HcUi8whQ/edit?usp=sharing

[2018-09-12 19:49] michael-ciniawsky commented on #166
So no 'dual-mode' packages (for now) ?

[2018-09-12 19:50] MylesBorins commented on #166
indeed. It is something that would be part of a future enhancement to the kernel, dependent on the feature set

[2018-09-12 20:12] SMotaal commented on #179
@MylesBorins The last question in the survey can help us start matching people with shared interests together:

<img width="662" alt="screen shot 2018-09-12 at 4 07 24 pm" src="https://user-images.githubusercontent.com/849613/45450351-f5882700-b6a5-11e8-9fa4-23f56e1f3a76.png">

For each aspect, the people who will work together will select a point person that drives consensus within as they coordi

[2018-09-12 20:15] SMotaal commented on #179
We'll wait for 24 hours to give a chance for those who are still planning to fill out B1 to do so then create a new issue with links to the C1 draft and a listing of those interested for each aspect.

[2018-09-12 20:58] MylesBorins commented on #176
Welcome to the team @rubys!!!

[2018-09-13 10:34] SMotaal commented on #175
@zenparsing @mcollina @SMotaal @mylesborins @benjamn @mduleone @devsnek @weswigham @targos @ljharb

Thank you so much for taking the first B1 (internal track) survey. Please forgive my inability to address your all concerns during the meeting and in the few emails sent regarding the survey. I need a couple of days to shift gears and come back to this with fresh eyes. But before I do, here are some

[2018-09-13 10:34] SMotaal commented on #175
My take on a process that minimizes the potential for noise and indecision:
- [ ] Topic experts (minimum of 5)
  - [ ] Use responses to decide one "point person" for each technical aspect
  - [ ] Use responses to select one "representer" for each third-party aspect/technology
- [ ] Facilitators (minimum of 3)
  - [ ] Elect ~3 WG members to coordinate our efforts
  - [ ] Confirm with current survey

[2018-09-13 10:41] SMotaal commented on #175
@sendilkumarn @inidaname @GeoffreyBooth Your initiative was vital to getting this off the ground. Please confirm is you are still interested in participation and/or contribution in survey efforts, moving forward.

[2018-09-13 17:03] sendilkumarn commented on #175
@SMotaal Let us do it 👍

[2018-09-13 18:38] SMotaal commented on #175
@sendilkumarn @GeoffreyBooth @inidaname I realize you filled out (probably multiple) Ax surveys, can you just fill out the very very short form I sent, just because we need to know your aspects interested in working on moving forward

[2018-09-13 18:59] SMotaal commented on #175
@GeoffreyBooth are you willing to open and moderate an issue to allow people to openly discuss the "Developers Survey: Scope and Purpose".

We don't want to many issues, but I think this thread is an exception. Everyone wants to be heard, and wants to know what the scope and purpose is.

Our efforts so far were inclined heavily towards deliver a process assuming there was a clear scope and purpose

[2018-09-14 04:37] GeoffreyBooth commented on #175
@SMotaal I’m happy to moderate an issue. I know part of the point is that it’s vague right now, but can you help me define what you mean by “scope and purpose”? Like the scope of the modules implementation that we’re trying to build? And what purpose would it have, other than to bring support for ES modules to Node?

[2018-09-14 09:45] SMotaal commented on #175
@GeoffreyBooth

Let's start by calling this Purpose & Scope:

Purpose of the Developers Survey from the WG's perspective:

I don't think I want to color this one, but drawing upon input from the end user is almost always a way to overcome indecision and barriers to compromise in order to reach some mutually acceptable outcomes.

I think I can try to give you my own formula for the purpose just as

[2018-09-15 14:42] SMotaal commented on #175
@sendilkumarn I think our next steps in general need to grow beyond our direct mentions method and make better use GitHub's tools. This I believe calls for a "ongoing" project(s) board. I have some of the structure in mind, but for now, I would like to ask you to continue your in your amazing self-directed getting-things-done streak to start setting us up.

Can you maybe open a separate issue to:

[2018-09-16 20:15] GeoffreyBooth opened #182 "Surveys: Purpose and Scope"
Building off of https://github.com/nodejs/modules/issues/175#issuecomment-421115763, @SMotaal asked me to moderate a discussion to determine the purpose and scope of the survey(s) we intend to produce. So . . . what do you want the group to get out of these surveys? What, if anything, do you _not_ want the survey to address?

[2018-09-17 13:07] SMotaal opened #183 "Surveys: Live Sessions (Oct 9-13 5:30 PM UTC)"
📆
~~Daily Summit Surveys Planning Meetings~~ (Canceled due to lack of interest)
~~<sup>Tuesday (Oct9) thru Saturday (Oct13) at 9:30 PM (UTC)</sup>~~

Those meetings are for anyone interested in moderating surveys with groups of 3-5 people at a time at the summit.

<details>

Time: Oct 9, 2018 5:30 PM Eastern Time (US and Canada)
    Every day, until Oct 13, 2018, 5 occurrence(s)
    Oct 9, 2018 5:

[2018-09-17 13:36] SMotaal opened #184 "Terminology: Stipulative Terms"
Until now, our terminology has focused on *deprecating* loose and confusing terms in favour of more explicit *normative* terms. While *normative* terms avoid miscommunication, by design, imho, we need a new *stipulative* terms section. This is an example of what I have in mind:

---

Stipulative Terms
-----------------

<dl>

<dt id="browser-interop">
  Browser Interop
</dt>
<dd>

  The expectatio

[2018-09-17 13:40] #168 closed

[2018-09-17 13:41] SMotaal commented on #168
Withdrawn for now

[2018-09-17 14:03] SMotaal commented on #182
Thank you @GeoffreyBooth, imho, this is something that you and others who have a direct end user base for which they have specific indicators that they want to verify and/or justify — to help reach consensus, and in the chance that they fall short on delivering, the can show why our collective decisions made sense.

[2018-09-17 19:09] SMotaal commented on #177
Is there a possibility/need for a non-member wanting to become involved to help around collab coding or other sessions?

[2018-09-18 16:16] arcanis commented on #82
Most of the discussions here have been focused on the specific use case of using the loaders to transpile the code in some capacity. I have a quite different use case in mind, so please feel free to ask me to post this message in a separate thread if you think it'd keep discussions more manageable.

We recently unveiled Yarn Plug'n'Play, whose goal is to generate static maps that Node would then b

[2018-09-18 16:34] guybedford commented on #82
@arcanis the difficulty with this model is that it becomes very tricky to distinguish between a "loader" that is necessary for a package to work and a "loader" that is necessary for a specific project to work. For example, I might in development use Yarn Plugn'n'Play, then publish that package to npm, with the same plugin and play loader declaration in the package.json. Now anyone installing this

[2018-09-18 17:30] arcanis commented on #82
@bmeck I don't think it would be enough unfortunately, because of the distinction @guybedford mentioned - your PR adds support for per-package hooks, but in the case of PnP the hook must be registered globally (since all packages will need to use it in order to resolve their own dependencies).

The use case would be covered by the "Global Composition" section, except that it would be a production

[2018-09-18 17:57] bmeck commented on #82
@arcanis I would be against adding non-package (application level) data to package.json

What is exactly the reason that this cannot be done on a per package level?

`NODE_OPTIONS="--loader=@yarn/pnp"` is not sufficient I take it then as well? Couldn't you turn off the propagation to children by removing the part of `process.env.NODE_OPTIONS` that is setting `--loader`?

[2018-09-18 18:08] guybedford commented on #82
`globalLoaders` sounds like a very useful concept to me. And it would also directly benefit the way jspm wants to apply loaders as well.

[2018-09-18 18:27] arcanis commented on #82
@bmeck Some reasons why I think `NODE_OPTIONS` might not be the right solution:

- Setting `NODE_OPTIONS` is an explicit action. The user has to either set it themselves, or let a tool do it for them.

- In the first case, they have to either set it system-wide (which is not acceptable, since some projects might require the hook and others might not), or temporarily either in their shell session (

[2018-09-18 19:07] bmeck commented on #82
@arcanis all of those are reasons why I believe that it should be done on a per package level. You state that it is enabled on an application-basis, but why can it not be enabled on a per package basis? Most packages when you install them don't come with `node_modules` populated and loaders let you actively opt-out of `node_modules`

[2018-09-18 19:12] zenparsing commented on #82
@arcanis For your use case, are there multiple entry points into the application that need the same loader-hook treatment, or is there generally only one entry point?

[2018-09-18 19:29] arcanis commented on #82
@bmeck There are a few reasons:

- Something that might not be clear from my previous comments is that Plug'n'Play causes a single Javascript file called `.pnp.js` to be generated where would typically be found the `node_modules` folder (which isn't created at all). This file is the loader that needs to be injected. This is the one and only source of truth to know where are located the packages on

[2018-09-18 19:41] bmeck commented on #82
@arcanis I did see the design, but I'm still unclear on why it needs to be that way. Maybe we should setup a call. I'm not sure but it seems like there is some confusion or I'm missing something. I agree that the current whitepaper/RFC would not be an ideal fit for either global or per package loaders. I'm interested in solving the use case, but if we must perfectly match that RFC it seems unlikel

[2018-09-18 20:52] arcanis commented on #82
My goal in being here is to help make this pleasant to everyone. If the RFC has to consider new facts, so be it. I want to stress that we're really open to feedback and don't want to push this on anyone 🙂

I'm not entirely sure what you mean - a loader cannot generate that file, since it is meant to be generated by the package manager. Yarn *already does* make a big single single shared .pnp.js fi

[2018-09-19 13:53] bmeck commented on #82
@arcanis I'm getting quite confused with a lot of implementation of how your system works right now being thrown around. I'm going to just state how I would expect things to look given what I'm understanding:

[code]

Given that `.pnp.js` can intercept *all* incoming requests for dependencies within a "project", we can ensure that it loads to a location that properly does the requirements in the R

[2018-09-19 15:04] arcanis commented on #82
I must be missing something: how come the `loader` field in the cache packages reference `./.pnp.js`, but there is no `.pnp.js` file in the cache packages? Wouldn't those relative paths resolve to `/path/to/cache/foo@1.0.0/.pnp.js` (which doesn't exist, and cannot exist since it references project-specific data)?

[2018-09-19 15:06] bmeck commented on #82
@arcanis i would assume they exist in the cache as well, i am still unclear on what is project specific hence wanting a meeting.

[2018-09-19 19:07] SMotaal commented on #183
Sorry for running a little behind... I just started (audio only) zoom: https://zoom.us/j/913116297

[2018-09-19 19:17] SMotaal commented on #183
@sendilkumarn @tzmanics I apologize for not closing the loop on this sooner...

Since we are likely rescheduling, please indicate your availability: https://doodle.com/poll/ktn7m45cqcidtu8n

[2018-09-19 23:43] rubys opened #185 "The menu is omakase"
Rails doctrine: [The menu is omakase](https://rubyonrails.org/doctrine/#omakase) (translation: _I'll leave it up to you_)

Preface
-------

I'm going to try to make the case that instead of focusing on Module requirements, we should focus on Loader requirements and let a thousand flowers bloom.  Part of making my case, I will introduce a number of new use cases that may have here-to-fore seemed ou

[2018-09-19 23:57] ljharb commented on #185
Rails doesn't actually leave things up to users tho - it makes strong, opinionated default choices like haml, coffeescript, sprockets, webpack, yarn, etc, that have huge consequences on its ecosystem. That everything is configurable is great - our module loaders should be as well - but to underestimate the consequences of node's choices of defaults is to take no lessons from rails, among others.

[2018-09-20 00:07] rubys commented on #185
Can I stop you right there?  HAML is certainly a popular choice, but despite rumors to the contrary, not the default choice.

While I certainly agree strongly with this statement, I disagree with your apparent conclusion that everything that ever was once a part of core needs to forever be a part of core.  Can we discuss why we need to support two definitions for URLs indefinitely?

I may have ina

[2018-09-20 00:10] devsnek commented on #185
we've discussed making the loader a module before... its not really something that is possible from a technical standpoint.

[2018-09-20 01:57] ljharb commented on #185
I stand corrected, but you can put whatever things in that list you want, and it's still forcing a choice on the majority of users - who won't configure things for themselves. The defaults matter, a lot.

 can you clarify about "definitions for URLs"? Certainly `URL` should be preferred; but file paths aren't URLs (despite attempts to make it one with `file://`) and shouldn't be a `URL` instance i

[2018-09-20 07:17] mcollina commented on #185
@rubys this is extremely well written, and as a former Rails users I can definitely agree with the sentiment. I think the plan forward _could_ be:

1. ship the minimal kernel
2. ship the pluggable loader
3. remove the flag
4. based on popularity, define the defaults, _even if they are not spec compliant_.

---

On a more philosophical level, I would love _a future where node and the web platform c

[2018-09-20 12:06] SMotaal commented on #175
@zenparsing @GeoffreyBooth @mcollina @SMotaal @MylesBorins @benjamn @mduleone @devsnek @weswigham @targos @ljharb @inidaname @Fishrock123

You are mentioned because you indicated interest (or had questions) and because you might have missed our initial steps to arrange a meeting (#183).

Please join us today (#183) where we will have a discussion to try to address all our mutual dilemmas on gettin

[2018-09-20 12:29] devsnek commented on #185
@mcollina

https://github.com/nodejs/open-standards

[2018-09-20 14:52] rubys commented on #185
In a language as dynamic as JavaScript or Ruby, reconfiguring is as simple as a `require` or `import`.  I will suggest that a majority of users install and use packages.  Let's try to leverage that.

Continuing with the haml/rails example: configuring Rails to use HAML is as simple as adding the [Haml-rails](https://github.com/indirect/haml-rails) gem to your Gemfile.

See https://nodejs.org/docs/

[2018-09-20 17:44] jdalton commented on #183
The meeting is rescheduled for today (Thurs) right?

[2018-09-20 18:12] arcanis commented on #82
Some highlights from my understanding of what we discussed (@bmeck, @MylesBorins, please correct me if I'm mistaken somewhere):

- The resolution process should be split in two steps:
    - First a pass would resolve the bare imports into a value,
    - Then during the second pass the loader would take this value, finish resolving it if needed, and finally load a module using it.
    - Taking a JS

[2018-09-20 19:43] #176 closed

[2018-09-20 19:47] lappang-cheung commented on #183
Observation allowed?

[2018-09-20 19:48] SMotaal commented on #183
Everyone is welcome to join… I'll be adding the link on top roughly 5-10 mins ahead of the meeting

[2018-09-20 19:59] SMotaal commented on #183
Here is today's link:  https://zoom.us/j/531544871

[2018-09-21 11:04] SMotaal commented on #169
I am hoping we can discuss this in our next meeting regarding:
1. Specifiers are/not URLs (near future at least)
2. Predictable resource indication (ie ModuleMap vs Debugging/Introspection)
3. Implications for renderers like Electron and NW.js (and non-Chromium engines)

[2018-09-21 11:21] SMotaal commented on #173
I hope we can discuss this issue to:

1. Explain the outputs gained from everyone's participation
2. Allow participants to share their own views and expectations
3. Discuss next steps
4. Closing this issue?

[2018-09-21 12:21] SMotaal commented on #185
I think @rubys raises a very very strong point, which I have not been able to put in words, let alone express since I joined.

Apologies in advance if my take goes in a different direction.

I think that the idea that "legacy" is constant unchanging and thus breakable by any and all divergence is a fear that sometimes limits our ability to consider the finer details of legacy code:

1. Continues t

[2018-09-21 13:36] SMotaal commented on #185
@devsnek I can make a few cases for the opposite, but obviously I am talking not about ModuleWrap aspects here (that's all you).

To me, a modular (pluggable) loader is one that has a few fixed "template methods" and relies on a few fixed "structures" all of which expect a known start and end condition, but allow modularity to determine what happens in between.

A bad module loader design is one t

[2018-09-21 13:44] bmeck commented on #185
@SMotaal

I'm unclear on what "plugin" means here, but I assume it is just a userland loader.

All of the things you mentioned are not things that can be stopped purely by design. A userland loader can without regard to any designs by Node.js achieve these problems and we shouldn't point to Node.js' implementation as bad by allowing and trusting that users take some level of care while writing beh

[2018-09-21 15:41] ljharb commented on #169
The next meeting overlaps with TC39, so a number of us will be unable to attend. It may need to wait until the following meeting.

[2018-09-21 18:51] SMotaal commented on #169
In that case, we would have a casual discussion and hold the more formal one next meeting.

[2018-09-21 20:39] SMotaal commented on #185
<p><details><summary>Strictly speaking about "plugins"… let's use the more abstract term "extension" to avoid coloring it with some of the baggage associated with the mainstream "…-plugin-…" trend.</summary>
So, "extension" is still a plugin, but without the presumption of these kinds of controversial mechanisms, ie not dealing with format or delivery aspects (for now).
</details></p>

@bmeck Abso

[2018-09-21 21:07] bmeck commented on #185
I don't understand this. What is an "extension" if it isn't associated with any mechanisms?

[2018-09-21 21:08] SMotaal commented on #185
Funny you mention this, because on more occasions than I care to count, people involved with various popular tools told me they "are holding off now to avoid creating too much noise and will follow Node's lead," or something to that effect. First, there is the obvious mutual sense of responsibility towards the larger ecosystem. More importantly, those statements also come with an implied confidenc

[2018-09-21 21:11] bmeck commented on #185
I'm also confused here. How does this tie back to wanting to keep these to a minimum? Having innovative solutions is not something that is good or bad by its own nature. Having an increased volume and scope in which we alter how the platform behaves is my concern since that makes solutions harder to ensure they can retain the internal optimizations a runtime could provide, and in fact having confl

[2018-09-21 21:12] SMotaal commented on #185
I am just trying to avoid talking about them as plugins in the same sense as say babel plugins... etc. In other words, to not make any claims regarding the actual pluggable design. (a separate topic)

[2018-09-21 21:13] bmeck commented on #185
I'm getting more confused on the topics, what are we talking about? Prior to your usage of the term "plugin" or "extension" we have used the term "loader" to describe when users take control of aspects of loading resources.

[2018-09-21 21:33] bmeck commented on #185
I don't think speed should be our focus right now. Make it work, then make it fast. Part of making things work, is making as little impact and overlap as possible to leave space to optimize.

I don't think speed is going to be 10x faster or even 2x faster than CJS for any form of ESM for a long time due to how hard it is to optimize and that VMs themselves haven't fully optimized ESM implementatio

[2018-09-21 22:11] SMotaal commented on #185
Great point... I agree... So maybe it helps to not assume that agreement is a given. What I am trying to say is that obviously we have points where we agree, but without queuing those into our discussion, some (I for one) can just generalize the sense of disagreement to their opinions in general (which is obviously not the case).

Do we agree that ModuleWrap already introduced a number of internal

[2018-09-21 22:16] SMotaal commented on #185
At the end of the day... honestly, I am on your side 😉

[2018-09-25 07:02] GeoffreyBooth commented on #169
So are we meeting this week? If not, can that be announced somewhere? I potentially have big plans for Wednesday at noon Pacific! 😋

[2018-09-25 17:02] MylesBorins commented on #118
As workers has landed I'm going to close this. please re-open if this was premature

[2018-09-25 17:02] #118 closed

[2018-09-25 17:03] MylesBorins commented on #4
Closing for now, we can revisit this as we expand on minimal kernel

[2018-09-25 17:03] #4 closed

[2018-09-25 17:03] #32 closed

[2018-09-25 17:04] MylesBorins commented on #35
I this something we are still planning to do or can we close this issue?

[2018-09-25 17:06] MylesBorins commented on #130
Closing. PR has been moved to the fork

[2018-09-25 17:06] #130 closed

[2018-09-25 17:07] MylesBorins commented on #131
Is there still more to discuss with this issue or can it be closed?

[2018-09-25 17:07] MylesBorins commented on #136
Can this be closed or rolled into another issue?

[2018-09-25 17:08] MylesBorins commented on #138
Can this be closed or merged into another issue?

[2018-09-25 17:08] MylesBorins commented on #140
Is there more to be discussed in this issue?

[2018-09-25 17:09] MylesBorins commented on #141
Closing as this is quite similar to what we've ended up doing for the minimal kernel

[2018-09-25 17:09] #141 closed

[2018-09-25 17:10] MylesBorins commented on #151
Is this feature documented? can this be closed?

[2018-09-25 17:10] MylesBorins commented on #152
Is this feature documented? can this be closed?

[2018-09-25 17:11] #153 closed

[2018-09-25 17:11] MylesBorins commented on #166
We have a PR open to solve this, going to close the issue

[2018-09-25 17:11] #166 closed

[2018-09-25 17:18] bmeck commented on #131
This can be moved to fork, but still needs implementation work.

[2018-09-25 18:03] GeoffreyBooth commented on #152
Yes, it’s in the features list in the README: https://github.com/nodejs/modules#existing-nodejs-utility-features

[2018-09-25 18:05] GeoffreyBooth commented on #151
It’s in the README: https://github.com/nodejs/modules#commonjs-interop

And superseded by https://github.com/nodejs/modules/pull/160

[2018-09-25 18:05] #151 closed

[2018-09-25 18:18] MylesBorins opened #187 "Node.js Foundation Modules Team Meeting 2018-09-26"
## Time

**UTC Wed 26-Sep-2018 19:00 (07:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 26-Sep-2018 12:00 (12:00 PM) |
| US / Mountain | Wed 26-Sep-2018 13:00 (01:00 PM) |
| US / Central  | Wed 26-Sep-2018 14:00 (02:00 PM) |
| US / Eastern  | Wed 26-Sep-2018 15:00 (03:00 PM) |
| London        | Wed 26-Sep-2018 20:00 (08:00 PM) |

[2018-09-25 18:19] MylesBorins commented on #187
I will not be able to attend the meeting, so we will need someone to chair and someone else to run the zoom.

It is possible we don't have enough people showing up for quorum, in which case perhaps we should cancel and schedule a make up meeting next week (this will not change future meeting schedule)

[2018-09-25 18:56] #179 closed

[2018-09-25 19:12] MylesBorins commented on #152
Closing based on above comment. please re-open (or ask me to) if this was a mistake

[2018-09-25 19:12] #152 closed

[2018-09-26 00:37] curiousdannii commented on #152
I don't think this shouldn't be closed until there's a reliable way to do this cross platform without relying on bash hacks.

FWIW, the unambiguous grammar proposal would've easily solved this.

[2018-09-26 01:12] GeoffreyBooth commented on #35
I think the [modules repo README](https://github.com/nodejs/modules/blob/master/README.md) is basically our summary document. It would be good to add a Status section to it so that casual visitors can know what we’re currently working on, but it has our goals on there.

[2018-09-26 03:30] devsnek commented on #81
@danbev thanks for chiming in. i believe extensionless `main` has indeed been brought up before.

the real meat of this thread, however, is dealing with modules that have no esm source (the vast majority of the npm registry).

[2018-09-26 08:38] WebReflection commented on #152
FWIW, I think that's the **only** way to solve this

[2018-09-26 09:31] SMotaal commented on #187
So does this means we're shifting forward a week? Oct 3, 17… etc?

[2018-09-26 09:47] SMotaal commented on #140
I think this is no longer relevant for the time being… Will reopen if needed 👍

[2018-09-26 09:47] #140 closed

[2018-09-26 09:55] SMotaal commented on #136
Sorry to sound Git-Illit: rolled is actually a thing, let's roll (I guess)

Other related threads: #164, #51

But **before** we do I think I would like to reframe this into a 3 minute agenda item — a much more concise question to follow (soon) below.

[2018-09-26 10:00] SMotaal commented on #136
Raw Draft: How can we best document "package" versus "module" in terminology.

*My Thoughts*: Not that those terms are ambiguous, at least not to some, but they sometimes come with a rather fluid degree of associated/implied assumptions. So to help avoid miscommunication, those terms, as they relate to our efforts, need to hold clear indications when used. (consider not just those more familiar wi

[2018-09-26 12:59] SMotaal commented on #182
To help people start the discussion, maybe it helps to share the results view of our (not so pilot) pilot run from last meeting: https://goo.gl/VdcyXV